/* STYLE LITE VERSION */
.lite-version{
    .ci-slider-block img{
        max-height: 400px;
    }
    .ci-heading{
        margin-bottom: 20px;
    }
    .ci-block {
        padding: 30px 0px;
    }
    .footer{
        padding: 30px 0 0;
    }
    .ci-copyright-block{
        padding: 10px;
    }
}



















/* END STYLE LITE VERSION */
