/* STYLE LITE VERSION */
.lite-version .ci-slider-block img {
  max-height: 400px;
}

.lite-version .ci-heading {
  margin-bottom: 20px;
}

.lite-version .ci-block {
  padding: 30px 0px;
}

.lite-version .footer {
  padding: 30px 0 0;
}

.lite-version .ci-copyright-block {
  padding: 10px;
}

/* END STYLE LITE VERSION */
