@charset "UTF-8";
html {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

body {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1;
    flex: 1;
}

.page-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.content-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1;
    flex: 1;
}

.content {
    padding: 1.25rem 1.25rem;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.content::after {
    display: block;
    clear: both;
    content: "";
}

/* ------------------------------------------------------------------------------
 *
 *  # Page header
 *
 *  Page header components and color options
 *
 * ---------------------------------------------------------------------------- */

.page-title {
    padding: 2rem 0;
    position: relative;
}

.page-title small {
    display: inline-block;
    margin-left: 0.625rem;
}

.page-title small:before {
    content: '/';
    margin-right: 0.875rem;
}

.page-title small.d-block {
    margin-left: 0;
}

.page-title small.d-block:before {
    content: none;
}

.page-title small.d-block, .page-title .breadcrumb {
    margin-left: 1.875rem;
}

.page-title h1, .page-title h2, .page-title h3, .page-title h4, .page-title h5, .page-title h6 {
    margin: 0;
}

.page-header-content {
    position: relative;
    padding: 0 1.25rem;
}

.page-header-content[class*=border-bottom-]+.breadcrumb-line {
    border-top: 0;
}

.page-header-light {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.page-header-light.has-cover {
    background: url(../../../../../../global_assets/images/backgrounds/seamless.png);
}

.page-header-dark {
    background-color: #273246;
    color: #fff;
    margin-bottom: 1.25rem;
}

.page-header-dark>.breadcrumb>li>a, .page-header-dark>.breadcrumb>li+li:before, .page-header-dark .page-header-content .breadcrumb>li>a, .page-header-dark .page-header-content .breadcrumb>li+li:before {
    color: rgba(255, 255, 255, 0.9);
}

.page-header-dark>.breadcrumb>li>a:hover, .page-header-dark>.breadcrumb>li>a:focus, .page-header-dark .page-header-content .breadcrumb>li>a:hover, .page-header-dark .page-header-content .breadcrumb>li>a:focus {
    color: #fff;
    opacity: 1;
}

.page-header-dark>.breadcrumb>.active, .page-header-dark .page-header-content .breadcrumb>.active {
    color: rgba(255, 255, 255, 0.5);
}

.page-header-dark.has-cover {
    background: url(../../../../../../global_assets/images/login_cover.jpg);
    background-size: cover;
}

/* ------------------------------------------------------------------------------
 *
 *  # Sidebar layouts
 *
 *  Sidebar components, main navigation and sidebar itself
 *
 * ---------------------------------------------------------------------------- */

.sidebar {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.875rem;
}

.sidebar:not(.sidebar-component) {
    position: fixed;
    top: 0;
    bottom: 0;
    box-sizing: content-box;
    z-index: 1040;
    transition: all ease-in-out 0.15s;
}

@media (prefers-reduced-motion: reduce) {
    .sidebar:not(.sidebar-component) {
        transition: none;
    }
}

.sidebar-main, .sidebar-main .sidebar-content, .sidebar-secondary, .sidebar-secondary .sidebar-content {
    left: -18.5625rem;
}

.sidebar-right, .sidebar-right .sidebar-content {
    right: -18.5625rem;
}

.sidebar:not(.sidebar-component) .sidebar-content {
    position: fixed;
    top: 3.12503rem;
    bottom: 0;
    width: inherit;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    transition: left ease-in-out 0.15s, right ease-in-out 0.15s;
}

@media (prefers-reduced-motion: reduce) {
    .sidebar:not(.sidebar-component) .sidebar-content {
        transition: none;
    }
}

.navbar-lg:first-child~.page-content .sidebar:not(.sidebar-component) .sidebar-content {
    top: 3.37503rem;
}

.navbar-sm:first-child~.page-content .sidebar:not(.sidebar-component) .sidebar-content {
    top: 2.87503rem;
}

.sidebar-mobile-main .sidebar-main {
    box-shadow: 0.25rem 0 1rem rgba(0, 0, 0, 0.35);
}

.sidebar-mobile-main .sidebar-main, .sidebar-mobile-main .sidebar-main .sidebar-content {
    left: 0;
}

.sidebar-mobile-secondary .sidebar-secondary {
    box-shadow: 0.25rem 0 1rem rgba(0, 0, 0, 0.35);
}

.sidebar-mobile-secondary .sidebar-secondary, .sidebar-mobile-secondary .sidebar-secondary .sidebar-content {
    left: 0;
}

.sidebar-mobile-right .sidebar-right {
    display: block;
    box-shadow: -0.25rem 0 1rem rgba(0, 0, 0, 0.35);
}

.sidebar-mobile-right .sidebar-right, .sidebar-mobile-right .sidebar-right .sidebar-content {
    right: 0;
}

.sidebar-mobile-component .sidebar-component {
    display: block;
}

.nav-sidebar {
    color: #fff;
    -ms-flex-direction: column;
    flex-direction: column;
}

.nav-sidebar .nav-item:not(.nav-item-divider) {
    margin-bottom: 1px;
}

.nav-sidebar .nav-item:not(.nav-item-divider):last-child {
    margin-bottom: 0;
}

.nav-sidebar>.nav-item>.nav-link {
    border-radius: 30px;
}

.nav-sidebar .nav-link {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0.75rem 1.25rem;
    color: #fff;
    transition: background-color ease-in-out 0.15s, color ease-in-out 0.15s;
}

@media (prefers-reduced-motion: reduce) {
    .nav-sidebar .nav-link {
        transition: none;
    }
}

.nav-sidebar .nav-link i {
    margin-right: 15px;
    font-size: 20px;
}

.nav-sidebar .nav-link.active i {
    font-weight: 600;
    color: #1c3faa;
}

.nav-sidebar .nav-link .badge {
    transition: background-color ease-in-out 0.15s, border-color ease-in-out 0.15s;
}

@media (prefers-reduced-motion: reduce) {
    .nav-sidebar .nav-link .badge {
        transition: none;
    }
}

.nav-sidebar .nav-link.disabled, .nav-sidebar .nav-link.disabled:hover, .nav-sidebar .nav-link.disabled:focus {
    background-color: transparent;
    opacity: 0.5;
}

.nav-sidebar .nav-item-header {
    padding: 0.75rem 1.25rem;
    margin-top: 0.5rem;
}

.nav-sidebar .nav-item-header>i {
    display: none;
}

.nav-sidebar .nav-item-divider {
    margin: 0.5rem 0;
    height: 1px;
}

.nav-item-submenu>.nav-link {
    padding-right: 2.75rem;
}

.nav-item-submenu>.nav-link>span:after {
    content: "\ec3c";
    font-family: 'Linearicons';
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    vertical-align: middle;
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: -webkit-translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-reduced-motion: reduce) {
    .nav-item-submenu>.nav-link>span:after {
        transition: none;
    }
}

.nav-item-submenu.nav-item-open>.nav-link>span:after {
    -webkit-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}

.nav-group-sub {
    display: none;
}

.nav-group-sub .nav-link {
    padding: 8px 25px;
    background: #1A389F;
    margin: 5px 0px;
    border-radius: 30px;
    font-size: 13px;
}

.nav-sidebar .nav-link:not(.active):hover {
    background: rgba(255, 255, 255, .1) !important;
}

.nav-sidebar .nav-item>a.active {
    background: #F1F5F8;
    color: #000000;
    font-weight: 500;
}

.nav-sidebar .nav-item>a.active:before {
    content: "";
    width: 30px;
    height: 30px;
    margin-top: -30px;
    transform: rotate(90deg) scale(1.04);
    background-size: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='259.51' height='259.52' viewBox='0 0 259.51 259.52'%3E%3Cpath id='Path_143' data-name='Path 143' d='M8659.507,423.965c-.167-2.608.05-5.319-.19-8.211-.084-1.012-.031-2.15-.118-3.12-.113-1.25-.1-2.682-.236-4.061-.172-1.722-.179-3.757-.365-5.394-.328-2.889-.478-5.857-.854-8.61-.509-3.714-.825-7.252-1.38-10.543-.934-5.535-2.009-11.312-3.189-16.692-.855-3.9-1.772-7.416-2.752-11.2-1.1-4.256-2.394-8.149-3.687-12.381-1.1-3.615-2.366-6.893-3.623-10.493-1.3-3.739-2.917-7.26-4.284-10.7-1.708-4.295-3.674-8.078-5.485-12.023-1.145-2.493-2.5-4.932-3.727-7.387-1.318-2.646-2.9-5.214-4.152-7.518-1.716-3.16-3.517-5.946-5.274-8.873-1.692-2.818-3.589-5.645-5.355-8.334-2.326-3.542-4.637-6.581-7.039-9.848-2.064-2.809-4.017-5.255-6.088-7.828-2.394-2.974-4.937-5.936-7.292-8.589-3.027-3.411-6.049-6.744-9.055-9.763-2.4-2.412-4.776-4.822-7.108-6.975-3-2.767-5.836-5.471-8.692-7.854-3.332-2.779-6.657-5.663-9.815-8.028-2.958-2.216-5.784-4.613-8.7-6.6-3.161-2.159-6.251-4.414-9.219-6.254-3.814-2.365-7.533-4.882-11.168-6.89-4.213-2.327-8.513-4.909-12.478-6.834-4.61-2.239-9.234-4.619-13.51-6.416-4.1-1.725-8.11-3.505-11.874-4.888-4.5-1.652-8.506-3.191-12.584-4.47-6.045-1.9-12.071-3.678-17.431-5-9.228-2.284-17.608-3.757-24.951-4.9-7.123-1.112-13.437-1.64-18.271-2.035l-2.405-.2c-1.638-.136-3.508-.237-4.633-.3a115.051,115.051,0,0,0-12.526-.227h259.51Z' transform='translate(-8399.997 -164.445)' fill='%23f1f5f8'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 0;
    right: 15px;
    margin-right: -15px;
}

.nav-sidebar .nav-item>a.active:after {
    content: "";
    width: 30px;
    height: 30px;
    margin-top: 50px;
    transform: scale(1.04);
    background-size: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='259.51' height='259.52' viewBox='0 0 259.51 259.52'%3E%3Cpath id='Path_143' data-name='Path 143' d='M8659.507,423.965c-.167-2.608.05-5.319-.19-8.211-.084-1.012-.031-2.15-.118-3.12-.113-1.25-.1-2.682-.236-4.061-.172-1.722-.179-3.757-.365-5.394-.328-2.889-.478-5.857-.854-8.61-.509-3.714-.825-7.252-1.38-10.543-.934-5.535-2.009-11.312-3.189-16.692-.855-3.9-1.772-7.416-2.752-11.2-1.1-4.256-2.394-8.149-3.687-12.381-1.1-3.615-2.366-6.893-3.623-10.493-1.3-3.739-2.917-7.26-4.284-10.7-1.708-4.295-3.674-8.078-5.485-12.023-1.145-2.493-2.5-4.932-3.727-7.387-1.318-2.646-2.9-5.214-4.152-7.518-1.716-3.16-3.517-5.946-5.274-8.873-1.692-2.818-3.589-5.645-5.355-8.334-2.326-3.542-4.637-6.581-7.039-9.848-2.064-2.809-4.017-5.255-6.088-7.828-2.394-2.974-4.937-5.936-7.292-8.589-3.027-3.411-6.049-6.744-9.055-9.763-2.4-2.412-4.776-4.822-7.108-6.975-3-2.767-5.836-5.471-8.692-7.854-3.332-2.779-6.657-5.663-9.815-8.028-2.958-2.216-5.784-4.613-8.7-6.6-3.161-2.159-6.251-4.414-9.219-6.254-3.814-2.365-7.533-4.882-11.168-6.89-4.213-2.327-8.513-4.909-12.478-6.834-4.61-2.239-9.234-4.619-13.51-6.416-4.1-1.725-8.11-3.505-11.874-4.888-4.5-1.652-8.506-3.191-12.584-4.47-6.045-1.9-12.071-3.678-17.431-5-9.228-2.284-17.608-3.757-24.951-4.9-7.123-1.112-13.437-1.64-18.271-2.035l-2.405-.2c-1.638-.136-3.508-.237-4.633-.3a115.051,115.051,0,0,0-12.526-.227h259.51Z' transform='translate(-8399.997 -164.445)' fill='%23f1f5f8'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: -5px;
    right: 15px;
    margin-right: -15px;
}

.nav-sidebar .nav-link>span:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    height: 100%;
}

.nav-sidebar .nav-item>a.active>span:before {
    background-color: #F1F5F8;
}

.nav-group-sub .nav-group-sub .nav-link {
    padding-left: 40px;
    background-color: #142C91;
}

.nav-group-sub .nav-group-sub .nav-group-sub .nav-link {
    padding-left: 60px;
    background-color: #081c6f;
}

.nav-group-sub .nav-item-submenu>.nav-link:after {
    top: 0.625rem;
}

.nav-item-expanded>.nav-group-sub {
    display: block;
}

.nav-scrollspy .nav-link.active+.nav, .nav-scrollspy .nav-item-open .nav-link:not(.active)+.nav {
    display: block;
}

.nav-scrollspy .nav-link.active:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.nav-sidebar-icons-reverse .nav-link {
    padding-right: 3.5rem;
}

.nav-sidebar-icons-reverse .nav-link i {
    position: absolute;
    top: 0.75rem;
    right: 1.25rem;
    margin-right: 0;
}

.nav-sidebar-icons-reverse .nav-item-submenu .nav-link {
    padding-right: 4.5rem;
}

.nav-sidebar-icons-reverse .nav-item-submenu .nav-link:after {
    right: 3.25rem;
}

.nav-sidebar-icons-reverse .nav-group-sub .nav-link {
    padding-left: 2.5rem;
}

.nav-sidebar-icons-reverse .nav-group-sub .nav-link i {
    top: 0.625rem;
}

.nav-sidebar-icons-reverse .nav-group-sub .nav-group-sub .nav-link {
    padding-left: 3.75rem;
}

.nav-sidebar-icons-reverse .nav-group-sub .nav-group-sub .nav-group-sub .nav-link {
    padding-left: 5rem;
}

.nav-sidebar-bordered>.nav-item+.nav-item:not(.nav-item-divider) {
    margin-bottom: 0;
}

.sidebar .card:first-child .nav-sidebar-bordered {
    padding-top: 0;
}

.sidebar .card:first-child .nav-sidebar-bordered>.nav-item:first-child, .sidebar .card:first-child .nav-sidebar-bordered>.nav-item-header:first-child {
    border-top: 0;
}

.sidebar .card:last-child .nav-sidebar-bordered {
    padding-bottom: 0;
}

.sidebar .card:last-child .nav-sidebar-bordered>.nav-item:last-child, .sidebar .card:last-child .nav-sidebar-bordered>.nav-item-header:last-child {
    border-bottom: 0;
}

.sidebar-mobile-toggler {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.sidebar-mobile-toggler a {
    padding: 0.875rem 1.25rem;
    transition: all ease-in-out 0.15s;
}

@media (prefers-reduced-motion: reduce) {
    .sidebar-mobile-toggler a {
        transition: none;
    }
}

.navbar-lg:first-child~.page-content .sidebar-mobile-toggler a {
    padding: 1rem 1.25rem;
}

.navbar-sm:first-child~.page-content .sidebar-mobile-toggler a {
    padding: 0.75rem 1.25rem;
}

.sidebar-mobile-expand i:last-child:not(:first-child) {
    display: none;
}

.sidebar-component {
    display: none;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 0.1875rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.sidebar-fixed .sidebar-content {
    z-index: 1041;
}

@media (min-width: 768px) {
    .sidebar-xs .sidebar-main {
        width: 3.5rem;
    }
    .sidebar-xs .sidebar-main .sidebar-content::-webkit-scrollbar {
        width: 0 !important;
    }
    .sidebar-xs .sidebar-main .card:not(.card-sidebar-mobile), .sidebar-xs .sidebar-main .card-title {
        display: none;
    }
    .sidebar-xs .sidebar-main .card-header h6+.header-elements {
        padding-top: 0.22117rem;
        padding-bottom: 0.22117rem;
    }
    .sidebar-xs .sidebar-main .card-header h5+.header-elements {
        padding-top: 0.31733rem;
        padding-bottom: 0.31733rem;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item {
        position: relative;
        margin: 0;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item>.nav-link {
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item>.nav-link>i {
        position: static;
        margin-left: 0;
        margin-right: 0;
        display: block;
        padding-bottom: 1px;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item>.nav-link>span {
        font-size: 0;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item>.nav-link>span::before{
        width: 20px;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item>.nav-link>span::after{
        display: none;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item-submenu:hover>.nav-group-sub, .sidebar-xs .sidebar-main .nav-sidebar>.nav-item-submenu:focus>.nav-group-sub {
        display: block !important;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item-submenu>.nav-group-sub {
        position: absolute;
        top: 0;
        right: -16.875rem;
        width: 16.875rem;
        display: none;
        z-index: 1000;
        box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.3);
        background: #ffffff;
        border-radius: 6px;
        padding: 0 10px;
        padding-bottom: 10px;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item-submenu>.nav-group-sub[data-submenu-title]:before {
        content: attr(data-submenu-title);
        display: block;
        padding: 10px 25px;
        color: #fff;
        margin: 0 -10px;
        margin-bottom: 10px;
        background: #1c3faa;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item-submenu>.nav-link:after {
        content: none;
    }
    .sidebar-xs .sidebar-main .nav-sidebar .nav-group-sub .nav-link {
        background: transparent;
        color: #000;
        margin: 0;
        padding: 4px 15px;
        border-radius: 6px;
    }
    .sidebar-xs .sidebar-main .nav-sidebar .nav-group-sub .nav-link:hover {
        background: rgba(28, 63, 170, .1) !important;
    }
    .sidebar-xs .sidebar-main .nav-sidebar .nav-group-sub .nav-group-sub .nav-link {
        padding-left: 2.25rem;
    }
    .sidebar-xs .sidebar-main .nav-sidebar .nav-group-sub .nav-group-sub .nav-group-sub .nav-link {
        padding-left: 3.5rem;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item-header {
        padding: 0;
        text-align: center;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item-header>i {
        display: block;
        top: 0;
        padding: 0.75rem 1.25rem;
        margin-top: 0.12502rem;
        margin-bottom: 0.12502rem;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item-header>div {
        display: none;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item-open>.nav-group-sub {
        display: none !important;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item:hover>.nav-link.disabled+.nav-group-sub, .sidebar-xs .sidebar-main .nav-sidebar>.nav-item:hover>.nav-link.disabled>span, .sidebar-xs .sidebar-main .nav-sidebar>.nav-item:focus>.nav-link.disabled+.nav-group-sub, .sidebar-xs .sidebar-main .nav-sidebar>.nav-item:focus>.nav-link.disabled>span {
        display: none !important;
    }
    .sidebar-xs .sidebar-main .sidebar-user .card-body {
        padding-left: 0;
        padding-right: 0;
    }
    .sidebar-xs .sidebar-main .sidebar-user .media {
        -ms-flex-pack: center;
        justify-content: center;
    }
    .sidebar-xs .sidebar-main .sidebar-user .media>div:not(:first-child) {
        display: none !important;
    }
    .sidebar-xs .sidebar-main .sidebar-user .media>div:first-child {
        margin: 0 !important;
    }
    .sidebar-xs .sidebar-main .nav-item-submenu-reversed .nav-group-sub {
        top: auto !important;
        bottom: 0;
    }
    .sidebar-xs .sidebar-main.sidebar-fixed .nav-sidebar>.nav-item-submenu:hover>.nav-group-sub, .sidebar-xs .sidebar-main.sidebar-fixed .nav-sidebar>.nav-item-submenu:focus>.nav-group-sub {
        position: fixed;
        left: 3.5rem;
        top: 3.12503rem;
        bottom: 0;
        width: 16.875rem;
        overflow-y: auto;
        border-radius: 0;
    }
    .sidebar-xs .navbar-lg:first-child~.page-content .sidebar-fixed.sidebar-main .nav-sidebar>.nav-item-submenu:hover>.nav-group-sub, .sidebar-xs .navbar-lg:first-child~.page-content .sidebar-fixed.sidebar-main .nav-sidebar>.nav-item-submenu:focus>.nav-group-sub {
        top: 3.37503rem;
    }
    .sidebar-xs .navbar-sm:first-child~.page-content .sidebar-fixed.sidebar-main .nav-sidebar>.nav-item-submenu:hover>.nav-group-sub, .sidebar-xs .navbar-sm:first-child~.page-content .sidebar-fixed.sidebar-main .nav-sidebar>.nav-item-submenu:focus>.nav-group-sub {
        top: 2.87503rem;
    }
}

@media (min-width: 576px) {
    .sidebar-expand-sm.sidebar-main {
        z-index: 99;
        box-shadow: none;
    }
    .sidebar-expand-sm.sidebar-main .sidebar-content {
        left: 0;
    }
    .sidebar-expand-sm.sidebar-secondary {
        z-index: 98;
        box-shadow: none;
    }
    .sidebar-expand-sm.sidebar-secondary .sidebar-content {
        left: 0;
    }
    .sidebar-expand-sm.sidebar-right {
        z-index: 97;
        box-shadow: none;
    }
    .sidebar-expand-sm.sidebar-right .sidebar-content {
        right: 0;
    }
    .sidebar-expand-sm.sidebar-component {
        z-index: 96;
    }
    .sidebar-expand-sm:not(.sidebar-component) {
        position: static;
        transition: none;
    }
}

@media (min-width: 576px) and (prefers-reduced-motion: reduce) {
    .sidebar-expand-sm:not(.sidebar-component) {
        transition: none;
    }
}

@media (min-width: 576px) {
    .sidebar-expand-sm:not(.sidebar-component):not(.sidebar-fixed) .sidebar-content {
        position: static;
        overflow: visible;
        width: auto;
    }
    .sidebar-expand-sm .sidebar-mobile-toggler {
        display: none;
    }
    .sidebar-main-hidden .sidebar-expand-sm.sidebar-main, .sidebar-component-hidden .sidebar-expand-sm.sidebar-component, .sidebar-secondary-hidden .sidebar-expand-sm.sidebar-secondary, .sidebar-mobile-right .sidebar-expand-sm.sidebar-right {
        display: none;
    }
    .sidebar-expand-sm.sidebar-right {
        display: none;
    }
    .sidebar-right-visible .sidebar-expand-sm.sidebar-right {
        display: block;
    }
    .sidebar-expand-sm.sidebar-component {
        display: block;
        width: 16.875rem;
    }
    .sidebar-expand-sm.sidebar-component-left {
        margin-right: 1.25rem;
    }
    .sidebar-expand-sm.sidebar-component-right {
        margin-left: 1.25rem;
    }
}

@media (max-width: 575.98px) {
    .sidebar-expand-sm:not(.sidebar-component) {
        border: 0;
    }
}

@media (min-width: 768px) {
    .sidebar-expand-md.sidebar-main {
        z-index: 99;
        box-shadow: none;
    }
    .sidebar-expand-md.sidebar-main .sidebar-content {
        left: 0;
    }
    .sidebar-expand-md.sidebar-secondary {
        z-index: 98;
        box-shadow: none;
    }
    .sidebar-expand-md.sidebar-secondary .sidebar-content {
        left: 0;
    }
    .sidebar-expand-md.sidebar-right {
        z-index: 97;
        box-shadow: none;
    }
    .sidebar-expand-md.sidebar-right .sidebar-content {
        right: 0;
    }
    .sidebar-expand-md.sidebar-component {
        z-index: 96;
    }
    .sidebar-expand-md:not(.sidebar-component) {
        position: static;
        transition: none;
    }
}

@media (min-width: 768px) and (prefers-reduced-motion: reduce) {
    .sidebar-expand-md:not(.sidebar-component) {
        transition: none;
    }
}

@media (min-width: 768px) {
    .sidebar-expand-md:not(.sidebar-component):not(.sidebar-fixed) .sidebar-content {
        position: static;
        overflow: visible;
        width: auto;
    }
    .sidebar-expand-md .sidebar-mobile-toggler {
        display: none;
    }
    .sidebar-main-hidden .sidebar-expand-md.sidebar-main, .sidebar-component-hidden .sidebar-expand-md.sidebar-component, .sidebar-secondary-hidden .sidebar-expand-md.sidebar-secondary, .sidebar-mobile-right .sidebar-expand-md.sidebar-right {
        display: none;
    }
    .sidebar-expand-md.sidebar-right {
        display: none;
    }
    .sidebar-right-visible .sidebar-expand-md.sidebar-right {
        display: block;
    }
    .sidebar-expand-md.sidebar-component {
        display: block;
        width: 16.875rem;
    }
    .sidebar-expand-md.sidebar-component-left {
        margin-right: 1.25rem;
    }
    .sidebar-expand-md.sidebar-component-right {
        margin-left: 1.25rem;
    }
}

@media (max-width: 767.98px) {
    .sidebar-expand-md:not(.sidebar-component) {
        border: 0;
    }
}

@media (min-width: 992px) {
    .sidebar-expand-lg.sidebar-main {
        z-index: 99;
        box-shadow: none;
    }
    .sidebar-expand-lg.sidebar-main .sidebar-content {
        left: 0;
    }
    .sidebar-expand-lg.sidebar-secondary {
        z-index: 98;
        box-shadow: none;
    }
    .sidebar-expand-lg.sidebar-secondary .sidebar-content {
        left: 0;
    }
    .sidebar-expand-lg.sidebar-right {
        z-index: 97;
        box-shadow: none;
    }
    .sidebar-expand-lg.sidebar-right .sidebar-content {
        right: 0;
    }
    .sidebar-expand-lg.sidebar-component {
        z-index: 96;
    }
    .sidebar-expand-lg:not(.sidebar-component) {
        position: static;
        transition: none;
    }
}

@media (min-width: 992px) and (prefers-reduced-motion: reduce) {
    .sidebar-expand-lg:not(.sidebar-component) {
        transition: none;
    }
}

@media (min-width: 992px) {
    .sidebar-expand-lg:not(.sidebar-component):not(.sidebar-fixed) .sidebar-content {
        position: static;
        overflow: visible;
        width: auto;
    }
    .sidebar-expand-lg .sidebar-mobile-toggler {
        display: none;
    }
    .sidebar-main-hidden .sidebar-expand-lg.sidebar-main, .sidebar-component-hidden .sidebar-expand-lg.sidebar-component, .sidebar-secondary-hidden .sidebar-expand-lg.sidebar-secondary, .sidebar-mobile-right .sidebar-expand-lg.sidebar-right {
        display: none;
    }
    .sidebar-expand-lg.sidebar-right {
        display: none;
    }
    .sidebar-right-visible .sidebar-expand-lg.sidebar-right {
        display: block;
    }
    .sidebar-expand-lg.sidebar-component {
        display: block;
        width: 16.875rem;
    }
    .sidebar-expand-lg.sidebar-component-left {
        margin-right: 1.25rem;
    }
    .sidebar-expand-lg.sidebar-component-right {
        margin-left: 1.25rem;
    }
}

@media (max-width: 991.98px) {
    .sidebar-expand-lg:not(.sidebar-component) {
        border: 0;
    }
}

@media (min-width: 1200px) {
    .sidebar-expand-xl.sidebar-main {
        z-index: 99;
        box-shadow: none;
    }
    .sidebar-expand-xl.sidebar-main .sidebar-content {
        left: 0;
    }
    .sidebar-expand-xl.sidebar-secondary {
        z-index: 98;
        box-shadow: none;
    }
    .sidebar-expand-xl.sidebar-secondary .sidebar-content {
        left: 0;
    }
    .sidebar-expand-xl.sidebar-right {
        z-index: 97;
        box-shadow: none;
    }
    .sidebar-expand-xl.sidebar-right .sidebar-content {
        right: 0;
    }
    .sidebar-expand-xl.sidebar-component {
        z-index: 96;
    }
    .sidebar-expand-xl:not(.sidebar-component) {
        position: static;
        transition: none;
    }
}

@media (min-width: 1200px) and (prefers-reduced-motion: reduce) {
    .sidebar-expand-xl:not(.sidebar-component) {
        transition: none;
    }
}

@media (min-width: 1200px) {
    .sidebar-expand-xl:not(.sidebar-component):not(.sidebar-fixed) .sidebar-content {
        position: static;
        overflow: visible;
        width: auto;
    }
    .sidebar-expand-xl .sidebar-mobile-toggler {
        display: none;
    }
    .sidebar-main-hidden .sidebar-expand-xl.sidebar-main, .sidebar-component-hidden .sidebar-expand-xl.sidebar-component, .sidebar-secondary-hidden .sidebar-expand-xl.sidebar-secondary, .sidebar-mobile-right .sidebar-expand-xl.sidebar-right {
        display: none;
    }
    .sidebar-expand-xl.sidebar-right {
        display: none;
    }
    .sidebar-right-visible .sidebar-expand-xl.sidebar-right {
        display: block;
    }
    .sidebar-expand-xl.sidebar-component {
        display: block;
        width: 16.875rem;
    }
    .sidebar-expand-xl.sidebar-component-left {
        margin-right: 1.25rem;
    }
    .sidebar-expand-xl.sidebar-component-right {
        margin-left: 1.25rem;
    }
}

@media (max-width: 1199.98px) {
    .sidebar-expand-xl:not(.sidebar-component) {
        border: 0;
    }
}

.sidebar-expand.sidebar-main {
    z-index: 99;
    box-shadow: none;
}

.sidebar-expand.sidebar-main .sidebar-content {
    left: 0;
}

.sidebar-expand.sidebar-secondary {
    z-index: 98;
    box-shadow: none;
}

.sidebar-expand.sidebar-secondary .sidebar-content {
    left: 0;
}

.sidebar-expand.sidebar-right {
    z-index: 97;
    box-shadow: none;
}

.sidebar-expand.sidebar-right .sidebar-content {
    right: 0;
}

.sidebar-expand.sidebar-component {
    z-index: 96;
}

.sidebar-expand:not(.sidebar-component) {
    position: static;
    transition: none;
}

@media (prefers-reduced-motion: reduce) {
    .sidebar-expand:not(.sidebar-component) {
        transition: none;
    }
}

.sidebar-expand:not(.sidebar-component):not(.sidebar-fixed) .sidebar-content {
    position: static;
    overflow: visible;
    width: auto;
}

.sidebar-expand .sidebar-mobile-toggler {
    display: none;
}

.sidebar-main-hidden .sidebar-expand.sidebar-main, .sidebar-component-hidden .sidebar-expand.sidebar-component, .sidebar-secondary-hidden .sidebar-expand.sidebar-secondary, .sidebar-mobile-right .sidebar-expand.sidebar-right {
    display: none;
}

.sidebar-expand.sidebar-right {
    display: none;
}

.sidebar-right-visible .sidebar-expand.sidebar-right {
    display: block;
}

.sidebar-expand.sidebar-component {
    display: block;
    width: 16.875rem;
}

.sidebar-expand.sidebar-component-left {
    margin-right: 1.25rem;
}

.sidebar-expand.sidebar-component-right {
    margin-left: 1.25rem;
}

.sidebar-expand:not(.sidebar-component) {
    border: 0;
}

.sidebar:not(.bg-transparent) .card {
    border-width: 0;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
}

.sidebar:not(.bg-transparent) .card .card {
    border-width: 1px;
}

.sidebar:not(.bg-transparent) .card:not([class*=bg-]):not(.fixed-top) {
    background-color: transparent;
}

.sidebar .card-footer {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.sidebar .row:not(.no-gutters) {
    margin-left: -0.3125rem;
    margin-right: -0.3125rem;
}

.sidebar .row:not(.no-gutters) [class*=col] {
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
}

.sidebar .form-group:last-child {
    margin-bottom: 0;
}

.sidebar .nav-tabs .nav-item:first-child .nav-link {
    border-left: 0;
}

.sidebar .nav-tabs .nav-item:last-child .nav-link {
    border-right: 0;
}

.sidebar .nav-tabs .nav-link {
    border-top: 0;
    border-bottom-width: 0;
}

.sidebar .nav-tabs .nav-link.active {
    border-bottom-color: transparent;
}

.row-tile div[class*=col] .btn {
    border-radius: 0;
}

.row-tile div[class*=col]:first-child .btn:first-child {
    border-top-left-radius: 0.1875rem;
}

.row-tile div[class*=col]:first-child .btn:last-child {
    border-bottom-left-radius: 0.1875rem;
}

.row-tile div[class*=col]:last-child .btn:first-child {
    border-top-right-radius: 0.1875rem;
}

.row-tile div[class*=col]:last-child .btn:last-child {
    border-bottom-right-radius: 0.1875rem;
}

.row-tile div[class*=col] .btn+.btn {
    border-top: 0;
}

.row-tile div[class*=col]+div[class*=col] .btn {
    border-left: 0;
}

/* ------------------------------------------------------------------------------
 *
 *  # Boxed layout
 *
 *  Styles for main structure of content area in boxed layout
 *
 * ---------------------------------------------------------------------------- */

.layout-boxed-bg {
    background: url(../../../../../../global_assets/images/backgrounds/boxed_bg.png) repeat;
}

.layout-boxed {
    box-shadow: -4px 2px 4px rgba(0, 0, 0, 0.15), 4px 2px 4px rgba(0, 0, 0, 0.15);
}

@media (min-width: 992px) {
    .layout-boxed, .layout-boxed>.navbar {
        width: 992px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1200px) {
    .layout-boxed, .layout-boxed>.navbar {
        width: 1200px;
    }
}

.layout-boxed .page-content {
    background-color: #f5f5f5;
}

@media (min-width: 992px) {
    .content-boxed:not(.navbar-collapse) {
        margin-left: 6%;
        margin-right: 6%;
    }
    .navbar>.content-boxed>*:first-child {
        margin-left: 6%;
    }
    .navbar>.content-boxed>*:last-child {
        margin-right: 6%;
    }
    .breadcrumb-line>.content-boxed>*:first-child {
        margin-left: 1.25rem;
    }
    .breadcrumb-line>.content-boxed>*:last-child {
        margin-right: 1.25rem;
    }
}