@charset "UTF-8";
/* ------------------------------------------------------------------------------
 *
 *  # Page header
 *
 *  Page header components and color options
 *
 * ---------------------------------------------------------------------------- */

.page-title {
    padding: 2rem 0;
    position: relative;
}

.page-title small {
    display: inline-block;
    margin-left: 0.625rem;
}

.page-title small:before {
    content: '/';
    margin-right: 0.875rem;
}

.page-title small.d-block {
    margin-left: 0;
}

.page-title small.d-block:before {
    content: none;
}

.page-title small.d-block, .page-title .breadcrumb {
    margin-left: 1.875rem;
}

.page-title h1, .page-title h2, .page-title h3, .page-title h4, .page-title h5, .page-title h6 {
    margin: 0;
}

.page-header-content {
    position: relative;
    padding: 0 1.25rem;
}

.page-header-content[class*=border-bottom-]+.breadcrumb-line {
    border-top: 0;
}

/* ------------------------------------------------------------------------------
 *
 *  # Sidebar layouts
 *
 *  Sidebar components, main navigation and sidebar itself
 *
 * ---------------------------------------------------------------------------- */

.sidebar {
    width: 250px;
    padding: 15px 0;
    padding-left: 10px;
    -webkit-transition: all ease-in-out 0.25s;
    -ms-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s;
}

.sidebar-expand-md .sidebar-mobile-toggler {
    display: none;
}

.sidebar-mobile-toggler {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    background: #3160d8;
    padding: 5px 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.sidebar-mobile-main-close {
    text-align: center;
    border-radius: 4px;
    color: #fff !important;
    height: 30px;
    width: 30px;
    line-height: 30px;
    background: rgba(255, 255, 255, .2);
}

.sidebar-content {
    position: fixed;
    top: 40px;
    left: 0;
    bottom: 0;
    width: inherit;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    transition: left ease-in-out 0.15s, right ease-in-out 0.15s;
}

.sidebar .card {
    border: 0;
    border-width: 0;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
}

.sidebar .nav-sidebar {
    padding-right: 15px;
    color: #fff;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sidebar .nav-sidebar .nav-item:not(.nav-item-divider) {
    margin-bottom: 5px;
}

.sidebar ul li.nav-item a {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 8px 15px;
    color: #fff;
    transition: background-color ease-in-out 0.15s, color ease-in-out 0.15s;
}

.sidebar .nav-group-sub li.active a {
    color: #ec407a;
    background: #fff;
}

.sidebar ul li.nav-item>a.active {
    background: #F1F5F8;
    color: #000000;
    font-weight: 500;
}

.sidebar ul li.nav-item>a {
    border-radius: 30px;
}

.sidebar ul li.nav-item a:not(.active):hover {
    background: rgba(255, 255, 255, .1);
}

.sidebar ul li.nav-item>a.active:before {
    content: "";
    width: 30px;
    height: 30px;
    margin-top: -30px;
    transform: rotate(90deg) scale(1.04);
    background-size: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='259.51' height='259.52' viewBox='0 0 259.51 259.52'%3E%3Cpath id='Path_143' data-name='Path 143' d='M8659.507,423.965c-.167-2.608.05-5.319-.19-8.211-.084-1.012-.031-2.15-.118-3.12-.113-1.25-.1-2.682-.236-4.061-.172-1.722-.179-3.757-.365-5.394-.328-2.889-.478-5.857-.854-8.61-.509-3.714-.825-7.252-1.38-10.543-.934-5.535-2.009-11.312-3.189-16.692-.855-3.9-1.772-7.416-2.752-11.2-1.1-4.256-2.394-8.149-3.687-12.381-1.1-3.615-2.366-6.893-3.623-10.493-1.3-3.739-2.917-7.26-4.284-10.7-1.708-4.295-3.674-8.078-5.485-12.023-1.145-2.493-2.5-4.932-3.727-7.387-1.318-2.646-2.9-5.214-4.152-7.518-1.716-3.16-3.517-5.946-5.274-8.873-1.692-2.818-3.589-5.645-5.355-8.334-2.326-3.542-4.637-6.581-7.039-9.848-2.064-2.809-4.017-5.255-6.088-7.828-2.394-2.974-4.937-5.936-7.292-8.589-3.027-3.411-6.049-6.744-9.055-9.763-2.4-2.412-4.776-4.822-7.108-6.975-3-2.767-5.836-5.471-8.692-7.854-3.332-2.779-6.657-5.663-9.815-8.028-2.958-2.216-5.784-4.613-8.7-6.6-3.161-2.159-6.251-4.414-9.219-6.254-3.814-2.365-7.533-4.882-11.168-6.89-4.213-2.327-8.513-4.909-12.478-6.834-4.61-2.239-9.234-4.619-13.51-6.416-4.1-1.725-8.11-3.505-11.874-4.888-4.5-1.652-8.506-3.191-12.584-4.47-6.045-1.9-12.071-3.678-17.431-5-9.228-2.284-17.608-3.757-24.951-4.9-7.123-1.112-13.437-1.64-18.271-2.035l-2.405-.2c-1.638-.136-3.508-.237-4.633-.3a115.051,115.051,0,0,0-12.526-.227h259.51Z' transform='translate(-8399.997 -164.445)' fill='%23f1f5f8'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 0;
    right: -15px;
}

.sidebar ul li.nav-item>a.active:after {
    content: "";
    width: 30px;
    height: 30px;
    margin-top: 50px;
    transform: scale(1.04);
    background-size: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='259.51' height='259.52' viewBox='0 0 259.51 259.52'%3E%3Cpath id='Path_143' data-name='Path 143' d='M8659.507,423.965c-.167-2.608.05-5.319-.19-8.211-.084-1.012-.031-2.15-.118-3.12-.113-1.25-.1-2.682-.236-4.061-.172-1.722-.179-3.757-.365-5.394-.328-2.889-.478-5.857-.854-8.61-.509-3.714-.825-7.252-1.38-10.543-.934-5.535-2.009-11.312-3.189-16.692-.855-3.9-1.772-7.416-2.752-11.2-1.1-4.256-2.394-8.149-3.687-12.381-1.1-3.615-2.366-6.893-3.623-10.493-1.3-3.739-2.917-7.26-4.284-10.7-1.708-4.295-3.674-8.078-5.485-12.023-1.145-2.493-2.5-4.932-3.727-7.387-1.318-2.646-2.9-5.214-4.152-7.518-1.716-3.16-3.517-5.946-5.274-8.873-1.692-2.818-3.589-5.645-5.355-8.334-2.326-3.542-4.637-6.581-7.039-9.848-2.064-2.809-4.017-5.255-6.088-7.828-2.394-2.974-4.937-5.936-7.292-8.589-3.027-3.411-6.049-6.744-9.055-9.763-2.4-2.412-4.776-4.822-7.108-6.975-3-2.767-5.836-5.471-8.692-7.854-3.332-2.779-6.657-5.663-9.815-8.028-2.958-2.216-5.784-4.613-8.7-6.6-3.161-2.159-6.251-4.414-9.219-6.254-3.814-2.365-7.533-4.882-11.168-6.89-4.213-2.327-8.513-4.909-12.478-6.834-4.61-2.239-9.234-4.619-13.51-6.416-4.1-1.725-8.11-3.505-11.874-4.888-4.5-1.652-8.506-3.191-12.584-4.47-6.045-1.9-12.071-3.678-17.431-5-9.228-2.284-17.608-3.757-24.951-4.9-7.123-1.112-13.437-1.64-18.271-2.035l-2.405-.2c-1.638-.136-3.508-.237-4.633-.3a115.051,115.051,0,0,0-12.526-.227h259.51Z' transform='translate(-8399.997 -164.445)' fill='%23f1f5f8'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: -18px;
    right: -15px;
}

.sidebar ul li a>span:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: -15px;
    width: 40px;
    height: 100%;
}

.sidebar ul li>a.active>span:before {
    background-color: #F1F5F8;
}

.sidebar li.nav-item-submenu>a>span:after {
    content: "\ec3c";
    font-family: 'Linearicons';
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    vertical-align: middle;
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: -webkit-translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sidebar li.nav-item-submenu.nav-item-open>a>span:after {
    -webkit-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}

.sidebar ul li a.active i {
    font-weight: 600;
    color: #1c3faa;
}

.sidebar ul li a i {
    font-size: 14px;
    margin-right: 5px;
    font-weight: 400;
}

.sidebar .nav-group-sub {
    display: none;
}

.sidebar ul li.nav-item .nav-group-sub a {
    padding: 8px 25px;
    background: #1A389F;
    margin: 5px 0px;
    border-radius: 30px;
}

.sidebar ul li.nav-item .nav-group-sub .nav-group-sub a {
    padding-left: 35px;
    background-color: #142C91;
}

.sidebar ul li.nav-item .nav-group-sub .nav-group-sub .nav-group-sub a {
    padding-left: 45px;
    background-color: #081c6f;
}

@media (min-width: 768px) {
    .sidebar-content {
        position: static;
        overflow: visible;
        width: auto;
    }
    .sidebar-mobile-toggler {
        display: none;
    }
    .sidebar-xs .sidebar {
        max-width: 50px;
    }
    .sidebar-xs .sidebar .nav-sidebar>li.nav-item-submenu>ul.nav-group-sub {
        position: absolute;
        top: 0;
        right: -16.875rem;
        width: 16.875rem;
        display: none;
        z-index: 1000;
        box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.3);
        background: #ffffff;
        border-radius: 4px;
        padding: 0 5px;
        padding-bottom: 10px;
        max-height: 360px;
    }
    .sidebar-xs .sidebar .nav-sidebar>li.nav-item-submenu:hover>ul.nav-group-sub, .sidebar-xs .sidebar .nav-sidebar>li.nav-item-submenu:focus>ul.nav-group-sub {
        display: block;
    }
    .sidebar-xs .sidebar .nav-sidebar>li.nav-item-submenu>.nav-group-sub[data-submenu-title]:before {
        content: attr(data-submenu-title);
        display: block;
        padding: 7px 15px;
        color: #fff;
        margin: 0px -5px;
        margin-bottom: 10px;
        background: rgba(28, 63, 170, 0.77);
    }
    .sidebar-xs .sidebar ul li.nav-item .nav-group-sub a {
        position: relative;
        background: transparent;
        color: #000;
        margin: 0;
        padding: 4px 10px;
        padding-right: 30px;
        border-radius: 4px;
        transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
    }
    .sidebar-xs .sidebar ul li.nav-item .nav-group-sub a:hover {
        background: rgba(0, 0, 0, .1);
    }
    .sidebar-xs .sidebar ul li.nav-item .nav-group-sub a:after {
        content: '';
        opacity: 1;
        border-color: #ec407a;
        position: absolute;
        top: 50%;
        left: 10px;
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        opacity: 0;
        transition: all .2s ease;
        -webkit-transition: all .2s ease;
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        -webkit-transform: translate(-10px, -50%);
        -moz-transform: translate(-10px, -50%);
        -ms-transform: translate(-10px, -50%);
        -o-transform: translate(-10px, -50%);
    }
    .sidebar-xs .sidebar .nav-group-sub li.active a:after, .sidebar-xs .sidebar ul li.nav-item .nav-group-sub a:hover:after {
        transform: translate(-7px, -50%);
        opacity: 1;
        background-color: #ec407a;
    }
    .sidebar-xs .sidebar ul li.nav-item>a.active:before, .sidebar-xs .sidebar ul li.nav-item>a.active:after, .sidebar-xs .sidebar ul>li>a>span, .sidebar-xs .sidebar ul>li>a>span::after {
        display: none;
    }
    .sidebar-xs .sidebar .nav-sidebar {
        padding-right: 0;
    }
    .sidebar-xs .sidebar ul>li.nav-item>a {
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }
    .sidebar-xs .sidebar ul li a i {
        margin-right: 0px;
    }
    .sidebar-xs .sidebar ul>li.nav-item {
        position: relative;
        padding-right: 10px;
    }
}

@media (max-width: 767px) {
    body.sidebar-mobile-main .sidebar {
        transform: none;
    }
    .sidebar {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        box-sizing: content-box;
        z-index: 10;
        transition: all ease-in-out 0.15s;
        padding: 0;
        background: #fff;
        -webkit-transform: translateX(-250px);
        -ms-transform: translateX(-250px);
        transform: translateX(-250px);
    }
    .sidebar-mobile-main-toggle {
        padding: 0;
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 4px;
        border: none;
        background: rgba(255, 255, 255, .2);
        color: #fff;
    }
    .sidebar .sidebar-content {
        padding: 20px 10px;
    }
    .sidebar .nav-sidebar{
        padding: 0;
    }
    .sidebar ul li.nav-item a{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: #2d3748;
        padding: 6px 10px;
        background: transparent;
    }
    .sidebar ul li.nav-item .nav-group-sub a{
        padding: 3px 28px;
        margin: 2px 0px;
        background: transparent !important;
    }
    .nav-item-open > .nav-group-sub {
        padding-bottom: 10px;
        -ms-touch-action: auto;
        touch-action: auto;
        overflow: visible !important;
    }
    .sidebar li.nav-item-open {
        background-color: #f5f5f5;
        border-radius: 4px;
    }

    .sidebar ul li>a.active>span:before,
    .sidebar ul li.nav-item>a.active:before,
    .sidebar ul li.nav-item>a.active:after{
        display: none;
    }
    .sb-overlay {
        -webkit-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms;
        width: 100%;
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(2, 3, 16, 0.3);
        z-index: 9;
    }
}