@charset "UTF-8";
html {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

body {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1;
    flex: 1;
}

.page-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.content-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1;
    flex: 1;
}

.content {
    padding: 1.25rem 1.25rem;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.content::after {
    display: block;
    clear: both;
    content: "";
}

/* ------------------------------------------------------------------------------
 *
 *  # Page header
 *
 *  Page header components and color options
 *
 * ---------------------------------------------------------------------------- */

.page-title {
    padding: 2rem 0;
    position: relative;
}

.page-title small {
    display: inline-block;
    margin-left: 0.625rem;
}

.page-title small:before {
    content: '/';
    margin-right: 0.875rem;
}

.page-title small.d-block {
    margin-left: 0;
}

.page-title small.d-block:before {
    content: none;
}

.page-title small.d-block, .page-title .breadcrumb {
    margin-left: 1.875rem;
}

.page-title h1, .page-title h2, .page-title h3, .page-title h4, .page-title h5, .page-title h6 {
    margin: 0;
}

.page-header-content {
    position: relative;
    padding: 0 1.25rem;
}

.page-header-content[class*=border-bottom-]+.breadcrumb-line {
    border-top: 0;
}

.page-header-light {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.page-header-light.has-cover {
    background: url(../../../../../../global_assets/images/backgrounds/seamless.png);
}

.page-header-dark {
    background-color: #273246;
    color: #fff;
    margin-bottom: 1.25rem;
}

.page-header-dark>.breadcrumb>li>a, .page-header-dark>.breadcrumb>li+li:before, .page-header-dark .page-header-content .breadcrumb>li>a, .page-header-dark .page-header-content .breadcrumb>li+li:before {
    color: rgba(255, 255, 255, 0.9);
}

.page-header-dark>.breadcrumb>li>a:hover, .page-header-dark>.breadcrumb>li>a:focus, .page-header-dark .page-header-content .breadcrumb>li>a:hover, .page-header-dark .page-header-content .breadcrumb>li>a:focus {
    color: #fff;
    opacity: 1;
}

.page-header-dark>.breadcrumb>.active, .page-header-dark .page-header-content .breadcrumb>.active {
    color: rgba(255, 255, 255, 0.5);
}

.page-header-dark.has-cover {
    background: url(../../../../../../global_assets/images/login_cover.jpg);
    background-size: cover;
}

/* ------------------------------------------------------------------------------
 *
 *  # Sidebar layouts
 *
 *  Sidebar components, main navigation and sidebar itself
 *
 * ---------------------------------------------------------------------------- */

.sidebar {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 16.875rem;
}

.sidebar:not(.sidebar-component) {
    position: fixed;
    top: 0;
    bottom: 0;
    box-sizing: content-box;
    z-index: 1040;
    transition: all ease-in-out 0.15s;
}

@media (prefers-reduced-motion: reduce) {
    .sidebar:not(.sidebar-component) {
        transition: none;
    }
}

.sidebar-main, .sidebar-main .sidebar-content, .sidebar-secondary, .sidebar-secondary .sidebar-content {
    left: -18.5625rem;
}

.sidebar-right, .sidebar-right .sidebar-content {
    right: -18.5625rem;
}

.sidebar:not(.sidebar-component) .sidebar-content {
    position: fixed;
    top: 3.12503rem;
    bottom: 0;
    width: inherit;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    transition: left ease-in-out 0.15s, right ease-in-out 0.15s;
}

@media (prefers-reduced-motion: reduce) {
    .sidebar:not(.sidebar-component) .sidebar-content {
        transition: none;
    }
}

.navbar-lg:first-child~.page-content .sidebar:not(.sidebar-component) .sidebar-content {
    top: 3.37503rem;
}

.navbar-sm:first-child~.page-content .sidebar:not(.sidebar-component) .sidebar-content {
    top: 2.87503rem;
}

.sidebar-mobile-main .sidebar-main {
    box-shadow: 0.25rem 0 1rem rgba(0, 0, 0, 0.35);
}

.sidebar-mobile-main .sidebar-main, .sidebar-mobile-main .sidebar-main .sidebar-content {
    left: 0;
}

.sidebar-mobile-secondary .sidebar-secondary {
    box-shadow: 0.25rem 0 1rem rgba(0, 0, 0, 0.35);
}

.sidebar-mobile-secondary .sidebar-secondary, .sidebar-mobile-secondary .sidebar-secondary .sidebar-content {
    left: 0;
}

.sidebar-mobile-right .sidebar-right {
    display: block;
    box-shadow: -0.25rem 0 1rem rgba(0, 0, 0, 0.35);
}

.sidebar-mobile-right .sidebar-right, .sidebar-mobile-right .sidebar-right .sidebar-content {
    right: 0;
}

.sidebar-mobile-component .sidebar-component {
    display: block;
}

.nav-sidebar {
    padding-right: 15px;
    color: #fff;
    -ms-flex-direction: column;
    flex-direction: column;
}

.nav-sidebar .nav-item:not(.nav-item-divider) {
    margin-bottom: 1px;
}

.nav-sidebar .nav-item:not(.nav-item-divider):last-child {
    margin-bottom: 0;
}

.nav-sidebar>.nav-item>.nav-link {
    border-radius: 30px;
}

.nav-sidebar .nav-link {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0.75rem 1.25rem;
    color: #fff;
    transition: background-color ease-in-out 0.15s, color ease-in-out 0.15s;
}

@media (prefers-reduced-motion: reduce) {
    .nav-sidebar .nav-link {
        transition: none;
    }
}

.nav-sidebar .nav-link i {
    margin-right: 15px;
    font-size: 20px;
    font-weight: 400;
}

.nav-sidebar .nav-link.active i {
    font-weight: 600;
    color: #1c3faa;
}

.nav-sidebar .nav-link .badge {
    transition: background-color ease-in-out 0.15s, border-color ease-in-out 0.15s;
}

@media (prefers-reduced-motion: reduce) {
    .nav-sidebar .nav-link .badge {
        transition: none;
    }
}

.nav-sidebar .nav-link.disabled, .nav-sidebar .nav-link.disabled:hover, .nav-sidebar .nav-link.disabled:focus {
    background-color: transparent;
    opacity: 0.5;
}

.nav-sidebar .nav-item-header {
    padding: 0.75rem 1.25rem;
    margin-top: 0.5rem;
}

.nav-sidebar .nav-item-header>i {
    display: none;
}

.nav-sidebar .nav-item-divider {
    margin: 0.5rem 0;
    height: 1px;
}

.nav-item-submenu>.nav-link {
    padding-right: 2.75rem;
}

.nav-item-submenu>.nav-link>span:after {
    content: "\ec3c";
    font-family: 'Linearicons';
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    vertical-align: middle;
    line-height: 1;
    position: absolute;
    top: 50%;
    transform: -webkit-translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
    transition: -webkit-transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out;
    transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (prefers-reduced-motion: reduce) {
    .nav-item-submenu>.nav-link>span:after {
        transition: none;
    }
}

.nav-item-submenu.nav-item-open>.nav-link>span:after {
    -webkit-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}

.nav-group-sub {
    display: none;
}
.nav-item-open .nav-group-sub {
    display: block;
}
.nav-group-sub .nav-link {
    padding: 8px 25px;
    background: #1A389F;
    margin: 5px 0px;
    border-radius: 30px;
}

.nav-group-sub .nav-link.active{
    color: #ec407a !important;
    background: #fff;
}
.nav-group-sub .nav-link.active::before {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background-color: #ec407a;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(-10px, -50%);
    opacity: 1;
    border-radius: 50%;
    border-color: #ec407a;
    transition: all 0.2s ease 0s;
}

.nav-sidebar .nav-link:not(.active):hover {
    background: rgba(255, 255, 255, .1) !important;
}

.nav-sidebar .nav-item>a.active {
    background: #F1F5F8;
    color: #000000;
    font-weight: 500;
}

.nav-sidebar .nav-item>a.active:before {
    content: "";
    width: 30px;
    height: 30px;
    margin-top: -30px;
    transform: rotate(90deg) scale(1.04);
    background-size: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='259.51' height='259.52' viewBox='0 0 259.51 259.52'%3E%3Cpath id='Path_143' data-name='Path 143' d='M8659.507,423.965c-.167-2.608.05-5.319-.19-8.211-.084-1.012-.031-2.15-.118-3.12-.113-1.25-.1-2.682-.236-4.061-.172-1.722-.179-3.757-.365-5.394-.328-2.889-.478-5.857-.854-8.61-.509-3.714-.825-7.252-1.38-10.543-.934-5.535-2.009-11.312-3.189-16.692-.855-3.9-1.772-7.416-2.752-11.2-1.1-4.256-2.394-8.149-3.687-12.381-1.1-3.615-2.366-6.893-3.623-10.493-1.3-3.739-2.917-7.26-4.284-10.7-1.708-4.295-3.674-8.078-5.485-12.023-1.145-2.493-2.5-4.932-3.727-7.387-1.318-2.646-2.9-5.214-4.152-7.518-1.716-3.16-3.517-5.946-5.274-8.873-1.692-2.818-3.589-5.645-5.355-8.334-2.326-3.542-4.637-6.581-7.039-9.848-2.064-2.809-4.017-5.255-6.088-7.828-2.394-2.974-4.937-5.936-7.292-8.589-3.027-3.411-6.049-6.744-9.055-9.763-2.4-2.412-4.776-4.822-7.108-6.975-3-2.767-5.836-5.471-8.692-7.854-3.332-2.779-6.657-5.663-9.815-8.028-2.958-2.216-5.784-4.613-8.7-6.6-3.161-2.159-6.251-4.414-9.219-6.254-3.814-2.365-7.533-4.882-11.168-6.89-4.213-2.327-8.513-4.909-12.478-6.834-4.61-2.239-9.234-4.619-13.51-6.416-4.1-1.725-8.11-3.505-11.874-4.888-4.5-1.652-8.506-3.191-12.584-4.47-6.045-1.9-12.071-3.678-17.431-5-9.228-2.284-17.608-3.757-24.951-4.9-7.123-1.112-13.437-1.64-18.271-2.035l-2.405-.2c-1.638-.136-3.508-.237-4.633-.3a115.051,115.051,0,0,0-12.526-.227h259.51Z' transform='translate(-8399.997 -164.445)' fill='%23f1f5f8'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 0;
    right: -15px;
}

.nav-sidebar .nav-item>a.active:after {
    content: "";
    width: 30px;
    height: 30px;
    margin-top: 50px;
    transform: scale(1.04);
    background-size: 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='259.51' height='259.52' viewBox='0 0 259.51 259.52'%3E%3Cpath id='Path_143' data-name='Path 143' d='M8659.507,423.965c-.167-2.608.05-5.319-.19-8.211-.084-1.012-.031-2.15-.118-3.12-.113-1.25-.1-2.682-.236-4.061-.172-1.722-.179-3.757-.365-5.394-.328-2.889-.478-5.857-.854-8.61-.509-3.714-.825-7.252-1.38-10.543-.934-5.535-2.009-11.312-3.189-16.692-.855-3.9-1.772-7.416-2.752-11.2-1.1-4.256-2.394-8.149-3.687-12.381-1.1-3.615-2.366-6.893-3.623-10.493-1.3-3.739-2.917-7.26-4.284-10.7-1.708-4.295-3.674-8.078-5.485-12.023-1.145-2.493-2.5-4.932-3.727-7.387-1.318-2.646-2.9-5.214-4.152-7.518-1.716-3.16-3.517-5.946-5.274-8.873-1.692-2.818-3.589-5.645-5.355-8.334-2.326-3.542-4.637-6.581-7.039-9.848-2.064-2.809-4.017-5.255-6.088-7.828-2.394-2.974-4.937-5.936-7.292-8.589-3.027-3.411-6.049-6.744-9.055-9.763-2.4-2.412-4.776-4.822-7.108-6.975-3-2.767-5.836-5.471-8.692-7.854-3.332-2.779-6.657-5.663-9.815-8.028-2.958-2.216-5.784-4.613-8.7-6.6-3.161-2.159-6.251-4.414-9.219-6.254-3.814-2.365-7.533-4.882-11.168-6.89-4.213-2.327-8.513-4.909-12.478-6.834-4.61-2.239-9.234-4.619-13.51-6.416-4.1-1.725-8.11-3.505-11.874-4.888-4.5-1.652-8.506-3.191-12.584-4.47-6.045-1.9-12.071-3.678-17.431-5-9.228-2.284-17.608-3.757-24.951-4.9-7.123-1.112-13.437-1.64-18.271-2.035l-2.405-.2c-1.638-.136-3.508-.237-4.633-.3a115.051,115.051,0,0,0-12.526-.227h259.51Z' transform='translate(-8399.997 -164.445)' fill='%23f1f5f8'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: -10px;
    right: -15px;
}
.nav-sidebar .nav-link>span:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: -15px;
    width: 40px;
    height: 100%;
}

.nav-sidebar .nav-item>a.active>span:before {
    background-color: #F1F5F8;
}
.sidebar-xs .nav-sidebar .nav-item>a.active>span:before,
.sidebar-xs .nav-sidebar .nav-item>a.active:before,
.sidebar-xs .nav-sidebar .nav-item>a.active:after{
    display: none;
}
.sidebar-xs .nav-sidebar {
    padding-right: 10px;
}
.nav-group-sub .nav-group-sub .nav-link {
    padding-left: 40px;
    background-color: #142C91;
}

.nav-group-sub .nav-group-sub .nav-group-sub .nav-link {
    padding-left: 60px;
    background-color: #081c6f;
}

.nav-group-sub .nav-item-submenu>.nav-link:after {
    top: 0.625rem;
}

.nav-item-expanded>.nav-group-sub {
    display: block;
}

.nav-scrollspy .nav-link.active+.nav, .nav-scrollspy .nav-item-open .nav-link:not(.active)+.nav {
    display: block;
}

.nav-scrollspy .nav-link.active:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.nav-sidebar-icons-reverse .nav-link {
    padding-right: 3.5rem;
}

.nav-sidebar-icons-reverse .nav-link i {
    position: absolute;
    top: 0.75rem;
    right: 1.25rem;
    margin-right: 0;
}

.nav-sidebar-icons-reverse .nav-item-submenu .nav-link {
    padding-right: 4.5rem;
}

.nav-sidebar-icons-reverse .nav-item-submenu .nav-link:after {
    right: 3.25rem;
}

.nav-sidebar-icons-reverse .nav-group-sub .nav-link {
    padding-left: 2.5rem;
}

.nav-sidebar-icons-reverse .nav-group-sub .nav-link i {
    top: 0.625rem;
}

.nav-sidebar-icons-reverse .nav-group-sub .nav-group-sub .nav-link {
    padding-left: 3.75rem;
}

.nav-sidebar-icons-reverse .nav-group-sub .nav-group-sub .nav-group-sub .nav-link {
    padding-left: 5rem;
}

.nav-sidebar-bordered>.nav-item+.nav-item:not(.nav-item-divider) {
    margin-bottom: 0;
}

.sidebar .card:first-child .nav-sidebar-bordered {
    padding-top: 0;
}

.sidebar .card:first-child .nav-sidebar-bordered>.nav-item:first-child, .sidebar .card:first-child .nav-sidebar-bordered>.nav-item-header:first-child {
    border-top: 0;
}

.sidebar .card:last-child .nav-sidebar-bordered {
    padding-bottom: 0;
}

.sidebar .card:last-child .nav-sidebar-bordered>.nav-item:last-child, .sidebar .card:last-child .nav-sidebar-bordered>.nav-item-header:last-child {
    border-bottom: 0;
}

.sidebar-mobile-toggler {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.sidebar-mobile-toggler a {
    padding: 0.875rem 1.25rem;
    transition: all ease-in-out 0.15s;
}

@media (prefers-reduced-motion: reduce) {
    .sidebar-mobile-toggler a {
        transition: none;
    }
}

.navbar-lg:first-child~.page-content .sidebar-mobile-toggler a {
    padding: 1rem 1.25rem;
}

.navbar-sm:first-child~.page-content .sidebar-mobile-toggler a {
    padding: 0.75rem 1.25rem;
}

.sidebar-mobile-expand i:last-child:not(:first-child) {
    display: none;
}

.sidebar-component {
    display: none;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 0.1875rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.sidebar-fixed .sidebar-content {
    z-index: 1041;
}

@media (min-width: 768px) {
    .sidebar-xs .sidebar-main {
        width: 3.5rem;
    }
    .sidebar-xs .sidebar-main .sidebar-content::-webkit-scrollbar {
        width: 0 !important;
    }
    .sidebar-xs .sidebar-main .card:not(.card-sidebar-mobile), .sidebar-xs .sidebar-main .card-title {
        display: none;
    }
    .sidebar-xs .sidebar-main .card-header h6+.header-elements {
        padding-top: 0.22117rem;
        padding-bottom: 0.22117rem;
    }
    .sidebar-xs .sidebar-main .card-header h5+.header-elements {
        padding-top: 0.31733rem;
        padding-bottom: 0.31733rem;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item {
        position: relative;
        margin: 0;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item>.nav-link {
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item>.nav-link>i {
        position: static;
        margin-left: 0;
        margin-right: 0;
        display: block;
        padding-bottom: 1px;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item>.nav-link>span,
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item>.nav-link>span::after{
        display: none;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item-submenu:hover>.nav-group-sub, 
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item-submenu:focus>.nav-group-sub {
        display: block !important;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item-submenu>.nav-group-sub {
        position: absolute;
        top: 0;
        right: -16.875rem;
        width: 16.875rem;
        display: none;
        z-index: 1000;
        box-shadow: 0 0.25rem 2rem rgba(0, 0, 0, 0.3);
        background: #ffffff;
        border-radius: 6px;
        padding: 0 10px;
        padding-bottom: 10px;
        max-height: 360px;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item-submenu>.nav-group-sub[data-submenu-title]:before {
        content: attr(data-submenu-title);
        display: block;
        padding: 10px 25px;
        color: #fff;
        margin: 0 -10px;
        margin-bottom: 10px;
        background: rgba(28, 63, 170, 0.77);
    }

    .sidebar-xs .sidebar-main .nav-sidebar .nav-group-sub .nav-link {
        background: transparent;
        color: #000;
        margin: 0;
        padding: 4px 15px;
        border-radius: 6px;
        transition: all .2s ease;
        -webkit-transition: all .2s ease; 
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
    }
    .sidebar-xs .sidebar-main .nav-sidebar .nav-group-sub .nav-link:hover {
        background: rgba(28, 63, 170, .1) !important;
        margin-left: 2px;
    }
    .sidebar-xs .sidebar-main .nav-sidebar .nav-group-sub .nav-link::before{
        display: none;
    }
    .sidebar-xs .sidebar-main .nav-sidebar .nav-group-sub .nav-link:after{
        content: '';
        opacity: 1;
        border-color: #ec407a;
        position: absolute;
        top: 50%;
        display: block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        opacity: 0;
        transition: all .2s ease;
        -webkit-transition: all .2s ease; 
        -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        -webkit-transform: translate(-15px,-50%);
        -moz-transform: translate(-15px,-50%);
        -ms-transform: translate(-15px,-50%);
        -o-transform: translate(-15px,-50%);
    }
    .sidebar-xs .sidebar-main .nav-sidebar .nav-group-sub .nav-link:hover:after{
        transform: translate(-10px,-50%);
        opacity: 1;
        background-color: #ec407a;
    }
    .sidebar-xs .sidebar-main .nav-sidebar .nav-group-sub .nav-group-sub .nav-link {
        padding-left: 2.25rem;
    }
    .sidebar-xs .sidebar-main .nav-sidebar .nav-group-sub .nav-group-sub .nav-group-sub .nav-link {
        padding-left: 3.5rem;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item-header {
        padding: 0;
        text-align: center;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item-header>i {
        display: block;
        top: 0;
        padding: 0.75rem 1.25rem;
        margin-top: 0.12502rem;
        margin-bottom: 0.12502rem;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item-header>div {
        display: none;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item-open>.nav-group-sub {
        display: none !important;
    }
    .sidebar-xs .sidebar-main .nav-sidebar>.nav-item:hover>.nav-link.disabled+.nav-group-sub, .sidebar-xs .sidebar-main .nav-sidebar>.nav-item:hover>.nav-link.disabled>span, .sidebar-xs .sidebar-main .nav-sidebar>.nav-item:focus>.nav-link.disabled+.nav-group-sub, .sidebar-xs .sidebar-main .nav-sidebar>.nav-item:focus>.nav-link.disabled>span {
        display: none !important;
    }
    .sidebar-xs .sidebar-main .sidebar-user .card-body {
        padding-left: 0;
        padding-right: 0;
    }
    .sidebar-xs .sidebar-main .sidebar-user .media {
        -ms-flex-pack: center;
        justify-content: center;
    }
    .sidebar-xs .sidebar-main .sidebar-user .media>div:not(:first-child) {
        display: none !important;
    }
    .sidebar-xs .sidebar-main .sidebar-user .media>div:first-child {
        margin: 0 !important;
    }
    .sidebar-xs .sidebar-main .nav-item-submenu-reversed .nav-group-sub {
        top: auto !important;
        bottom: 0;
    }
    .sidebar-xs .sidebar-main.sidebar-fixed .nav-sidebar>.nav-item-submenu:hover>.nav-group-sub, .sidebar-xs .sidebar-main.sidebar-fixed .nav-sidebar>.nav-item-submenu:focus>.nav-group-sub {
        position: fixed;
        left: 3.5rem;
        top: 3.12503rem;
        bottom: 0;
        width: 16.875rem;
        overflow-y: auto;
        border-radius: 0;
    }
    .sidebar-xs .navbar-lg:first-child~.page-content .sidebar-fixed.sidebar-main .nav-sidebar>.nav-item-submenu:hover>.nav-group-sub, .sidebar-xs .navbar-lg:first-child~.page-content .sidebar-fixed.sidebar-main .nav-sidebar>.nav-item-submenu:focus>.nav-group-sub {
        top: 3.37503rem;
    }
    .sidebar-xs .navbar-sm:first-child~.page-content .sidebar-fixed.sidebar-main .nav-sidebar>.nav-item-submenu:hover>.nav-group-sub, .sidebar-xs .navbar-sm:first-child~.page-content .sidebar-fixed.sidebar-main .nav-sidebar>.nav-item-submenu:focus>.nav-group-sub {
        top: 2.87503rem;
    }
}

@media (min-width: 576px) {
    .sidebar-expand-sm.sidebar-main {
        z-index: 99;
        box-shadow: none;
    }
    .sidebar-expand-sm.sidebar-main .sidebar-content {
        left: 0;
    }
    .sidebar-expand-sm.sidebar-secondary {
        z-index: 98;
        box-shadow: none;
    }
    .sidebar-expand-sm.sidebar-secondary .sidebar-content {
        left: 0;
    }
    .sidebar-expand-sm.sidebar-right {
        z-index: 97;
        box-shadow: none;
    }
    .sidebar-expand-sm.sidebar-right .sidebar-content {
        right: 0;
    }
    .sidebar-expand-sm.sidebar-component {
        z-index: 96;
    }
    .sidebar-expand-sm:not(.sidebar-component) {
        position: static;
        transition: none;
    }
}

@media (min-width: 576px) and (prefers-reduced-motion: reduce) {
    .sidebar-expand-sm:not(.sidebar-component) {
        transition: none;
    }
}

@media (min-width: 576px) {
    .sidebar-expand-sm:not(.sidebar-component):not(.sidebar-fixed) .sidebar-content {
        position: static;
        overflow: visible;
        width: auto;
    }
    .sidebar-expand-sm .sidebar-mobile-toggler {
        display: none;
    }
    .sidebar-main-hidden .sidebar-expand-sm.sidebar-main, .sidebar-component-hidden .sidebar-expand-sm.sidebar-component, .sidebar-secondary-hidden .sidebar-expand-sm.sidebar-secondary, .sidebar-mobile-right .sidebar-expand-sm.sidebar-right {
        display: none;
    }
    .sidebar-expand-sm.sidebar-right {
        display: none;
    }
    .sidebar-right-visible .sidebar-expand-sm.sidebar-right {
        display: block;
    }
    .sidebar-expand-sm.sidebar-component {
        display: block;
        width: 16.875rem;
    }
    .sidebar-expand-sm.sidebar-component-left {
        margin-right: 1.25rem;
    }
    .sidebar-expand-sm.sidebar-component-right {
        margin-left: 1.25rem;
    }
}

@media (max-width: 575.98px) {
    .sidebar-expand-sm:not(.sidebar-component) {
        border: 0;
    }
}

@media (min-width: 768px) {
    .sidebar-expand-md.sidebar-main {
        z-index: 99;
        box-shadow: none;
    }
    .sidebar-expand-md.sidebar-main .sidebar-content {
        left: 0;
    }
    .sidebar-expand-md.sidebar-secondary {
        z-index: 98;
        box-shadow: none;
    }
    .sidebar-expand-md.sidebar-secondary .sidebar-content {
        left: 0;
    }
    .sidebar-expand-md.sidebar-right {
        z-index: 97;
        box-shadow: none;
    }
    .sidebar-expand-md.sidebar-right .sidebar-content {
        right: 0;
    }
    .sidebar-expand-md.sidebar-component {
        z-index: 96;
    }
    .sidebar-expand-md:not(.sidebar-component) {
        position: static;
    }
}

@media (min-width: 768px) and (prefers-reduced-motion: reduce) {
    .sidebar-expand-md:not(.sidebar-component) {
        transition: none;
    }
}

@media (min-width: 768px) {
    .sidebar-expand-md:not(.sidebar-component):not(.sidebar-fixed) .sidebar-content {
        position: static;
        overflow: visible;
        width: auto;
    }
    .sidebar-expand-md .sidebar-mobile-toggler {
        display: none;
    }
    .sidebar-main-hidden .sidebar-expand-md.sidebar-main, .sidebar-component-hidden .sidebar-expand-md.sidebar-component, .sidebar-secondary-hidden .sidebar-expand-md.sidebar-secondary, .sidebar-mobile-right .sidebar-expand-md.sidebar-right {
        display: none;
    }
    .sidebar-expand-md.sidebar-right {
        display: none;
    }
    .sidebar-right-visible .sidebar-expand-md.sidebar-right {
        display: block;
    }
    .sidebar-expand-md.sidebar-component {
        display: block;
        width: 16.875rem;
    }
    .sidebar-expand-md.sidebar-component-left {
        margin-right: 1.25rem;
    }
    .sidebar-expand-md.sidebar-component-right {
        margin-left: 1.25rem;
    }
}

@media (max-width: 767.98px) {
    .sidebar-expand-md:not(.sidebar-component) {
        border: 0;
    }
}

@media (min-width: 992px) {
    .sidebar-expand-lg.sidebar-main {
        z-index: 99;
        box-shadow: none;
    }
    .sidebar-expand-lg.sidebar-main .sidebar-content {
        left: 0;
    }
    .sidebar-expand-lg.sidebar-secondary {
        z-index: 98;
        box-shadow: none;
    }
    .sidebar-expand-lg.sidebar-secondary .sidebar-content {
        left: 0;
    }
    .sidebar-expand-lg.sidebar-right {
        z-index: 97;
        box-shadow: none;
    }
    .sidebar-expand-lg.sidebar-right .sidebar-content {
        right: 0;
    }
    .sidebar-expand-lg.sidebar-component {
        z-index: 96;
    }
    .sidebar-expand-lg:not(.sidebar-component) {
        position: static;
        transition: none;
    }
}

@media (min-width: 992px) and (prefers-reduced-motion: reduce) {
    .sidebar-expand-lg:not(.sidebar-component) {
        transition: none;
    }
}

@media (min-width: 992px) {
    .sidebar-expand-lg:not(.sidebar-component):not(.sidebar-fixed) .sidebar-content {
        position: static;
        overflow: visible;
        width: auto;
    }
    .sidebar-expand-lg .sidebar-mobile-toggler {
        display: none;
    }
    .sidebar-main-hidden .sidebar-expand-lg.sidebar-main, .sidebar-component-hidden .sidebar-expand-lg.sidebar-component, .sidebar-secondary-hidden .sidebar-expand-lg.sidebar-secondary, .sidebar-mobile-right .sidebar-expand-lg.sidebar-right {
        display: none;
    }
    .sidebar-expand-lg.sidebar-right {
        display: none;
    }
    .sidebar-right-visible .sidebar-expand-lg.sidebar-right {
        display: block;
    }
    .sidebar-expand-lg.sidebar-component {
        display: block;
        width: 16.875rem;
    }
    .sidebar-expand-lg.sidebar-component-left {
        margin-right: 1.25rem;
    }
    .sidebar-expand-lg.sidebar-component-right {
        margin-left: 1.25rem;
    }
}

@media (max-width: 991.98px) {
    .sidebar-expand-lg:not(.sidebar-component) {
        border: 0;
    }
}

@media (min-width: 1200px) {
    .sidebar-expand-xl.sidebar-main {
        z-index: 99;
        box-shadow: none;
    }
    .sidebar-expand-xl.sidebar-main .sidebar-content {
        left: 0;
    }
    .sidebar-expand-xl.sidebar-secondary {
        z-index: 98;
        box-shadow: none;
    }
    .sidebar-expand-xl.sidebar-secondary .sidebar-content {
        left: 0;
    }
    .sidebar-expand-xl.sidebar-right {
        z-index: 97;
        box-shadow: none;
    }
    .sidebar-expand-xl.sidebar-right .sidebar-content {
        right: 0;
    }
    .sidebar-expand-xl.sidebar-component {
        z-index: 96;
    }
    .sidebar-expand-xl:not(.sidebar-component) {
        position: static;
        transition: none;
    }
}

@media (min-width: 1200px) and (prefers-reduced-motion: reduce) {
    .sidebar-expand-xl:not(.sidebar-component) {
        transition: none;
    }
}

@media (min-width: 1200px) {
    .sidebar-expand-xl:not(.sidebar-component):not(.sidebar-fixed) .sidebar-content {
        position: static;
        overflow: visible;
        width: auto;
    }
    .sidebar-expand-xl .sidebar-mobile-toggler {
        display: none;
    }
    .sidebar-main-hidden .sidebar-expand-xl.sidebar-main, .sidebar-component-hidden .sidebar-expand-xl.sidebar-component, .sidebar-secondary-hidden .sidebar-expand-xl.sidebar-secondary, .sidebar-mobile-right .sidebar-expand-xl.sidebar-right {
        display: none;
    }
    .sidebar-expand-xl.sidebar-right {
        display: none;
    }
    .sidebar-right-visible .sidebar-expand-xl.sidebar-right {
        display: block;
    }
    .sidebar-expand-xl.sidebar-component {
        display: block;
        width: 16.875rem;
    }
    .sidebar-expand-xl.sidebar-component-left {
        margin-right: 1.25rem;
    }
    .sidebar-expand-xl.sidebar-component-right {
        margin-left: 1.25rem;
    }
}

@media (max-width: 1199.98px) {
    .sidebar-expand-xl:not(.sidebar-component) {
        border: 0;
    }
}

.sidebar-expand.sidebar-main {
    z-index: 99;
    box-shadow: none;
}

.sidebar-expand.sidebar-main .sidebar-content {
    left: 0;
}

.sidebar-expand.sidebar-secondary {
    z-index: 98;
    box-shadow: none;
}

.sidebar-expand.sidebar-secondary .sidebar-content {
    left: 0;
}

.sidebar-expand.sidebar-right {
    z-index: 97;
    box-shadow: none;
}

.sidebar-expand.sidebar-right .sidebar-content {
    right: 0;
}

.sidebar-expand.sidebar-component {
    z-index: 96;
}

.sidebar-expand:not(.sidebar-component) {
    position: static;
    transition: none;
}

@media (prefers-reduced-motion: reduce) {
    .sidebar-expand:not(.sidebar-component) {
        transition: none;
    }
}

.sidebar-expand:not(.sidebar-component):not(.sidebar-fixed) .sidebar-content {
    position: static;
    overflow: visible;
    width: auto;
}

.sidebar-expand .sidebar-mobile-toggler {
    display: none;
}

.sidebar-main-hidden .sidebar-expand.sidebar-main, .sidebar-component-hidden .sidebar-expand.sidebar-component, .sidebar-secondary-hidden .sidebar-expand.sidebar-secondary, .sidebar-mobile-right .sidebar-expand.sidebar-right {
    display: none;
}

.sidebar-expand.sidebar-right {
    display: none;
}

.sidebar-right-visible .sidebar-expand.sidebar-right {
    display: block;
}

.sidebar-expand.sidebar-component {
    display: block;
    width: 16.875rem;
}

.sidebar-expand.sidebar-component-left {
    margin-right: 1.25rem;
}

.sidebar-expand.sidebar-component-right {
    margin-left: 1.25rem;
}

.sidebar-expand:not(.sidebar-component) {
    border: 0;
}

.sidebar:not(.bg-transparent) .card {
    border-width: 0;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
}

.sidebar:not(.bg-transparent) .card .card {
    border-width: 1px;
}

.sidebar:not(.bg-transparent) .card:not([class*=bg-]):not(.fixed-top) {
    background-color: transparent;
}

.sidebar .card-footer {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.sidebar .row:not(.no-gutters) {
    margin-left: -0.3125rem;
    margin-right: -0.3125rem;
}

.sidebar .row:not(.no-gutters) [class*=col] {
    padding-left: 0.3125rem;
    padding-right: 0.3125rem;
}

.sidebar .form-group:last-child {
    margin-bottom: 0;
}

.sidebar .nav-tabs .nav-item:first-child .nav-link {
    border-left: 0;
}

.sidebar .nav-tabs .nav-item:last-child .nav-link {
    border-right: 0;
}

.sidebar .nav-tabs .nav-link {
    border-top: 0;
    border-bottom-width: 0;
}

.sidebar .nav-tabs .nav-link.active {
    border-bottom-color: transparent;
}

.row-tile div[class*=col] .btn {
    border-radius: 0;
}

.row-tile div[class*=col]:first-child .btn:first-child {
    border-top-left-radius: 0.1875rem;
}

.row-tile div[class*=col]:first-child .btn:last-child {
    border-bottom-left-radius: 0.1875rem;
}

.row-tile div[class*=col]:last-child .btn:first-child {
    border-top-right-radius: 0.1875rem;
}

.row-tile div[class*=col]:last-child .btn:last-child {
    border-bottom-right-radius: 0.1875rem;
}

.row-tile div[class*=col] .btn+.btn {
    border-top: 0;
}

.row-tile div[class*=col]+div[class*=col] .btn {
    border-left: 0;
}

body:not(.sidebar-xs)  .nav-group-sub > li:nth-child(1)>a,
.nav-sidebar > .nav-item:nth-child(1)>a {
	opacity: 0;
	transform: translateX(50px);
	-webkit-animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

body:not(.sidebar-xs)  .nav-group-sub > li:nth-child(2)>a,

.nav-sidebar > .nav-item:nth-child(2)>a {
	opacity: 0;
	transform: translateX(50px);
	-webkit-animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
body:not(.sidebar-xs)  .nav-group-sub > li:nth-child(3)>a,

.nav-sidebar > .nav-item:nth-child(3)>a {
	opacity: 0;
	transform: translateX(50px);
	-webkit-animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
body:not(.sidebar-xs)  .nav-group-sub > li:nth-child(4)>a,

.nav-sidebar > .nav-item:nth-child(4)>a {
	opacity: 0;
	transform: translateX(50px);
	-webkit-animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
body:not(.sidebar-xs)  .nav-group-sub > li:nth-child(5)>a,

.nav-sidebar > .nav-item:nth-child(5)>a {
	opacity: 0;
	transform: translateX(50px);
	-webkit-animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
body:not(.sidebar-xs)  .nav-group-sub > li:nth-child(6)>a,

.nav-sidebar > .nav-item:nth-child(6)>a {
	opacity: 0;
	transform: translateX(50px);
	-webkit-animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}
body:not(.sidebar-xs)  .nav-group-sub > li:nth-child(7)>a,

.nav-sidebar > .nav-item:nth-child(7)>a {
	opacity: 0;
	transform: translateX(50px);
	-webkit-animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}
body:not(.sidebar-xs)  .nav-group-sub > li:nth-child(8)>a,

.nav-sidebar > .nav-item:nth-child(8)>a {
	opacity: 0;
	transform: translateX(50px);
	-webkit-animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}
body:not(.sidebar-xs)  .nav-group-sub > li:nth-child(9)>a,

.nav-sidebar > .nav-item:nth-child(9)>a {
	opacity: 0;
	transform: translateX(50px);
	-webkit-animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}
body:not(.sidebar-xs)  .nav-group-sub > li:nth-child(10)>a,

.nav-sidebar > .nav-item:nth-child(10)>a {
	opacity: 0;
	transform: translateX(50px);
	-webkit-animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
body:not(.sidebar-xs)  .nav-group-sub > li:nth-child(11)>a,

.nav-sidebar > .nav-item:nth-child(11)>a {
	opacity: 0;
	transform: translateX(50px);
	-webkit-animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 1.1s;
	animation-delay: 1.1s;
}
body:not(.sidebar-xs)  .nav-group-sub > li:nth-child(12)>a,

.nav-sidebar > .nav-item:nth-child(12)>a {
	opacity: 0;
	transform: translateX(50px);
	-webkit-animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s;
}
body:not(.sidebar-xs)  .nav-group-sub > li:nth-child(13)>a,

.nav-sidebar > .nav-item:nth-child(13)>a {
	opacity: 0;
	transform: translateX(50px);
	-webkit-animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 1.3s;
	animation-delay: 1.3s;
}
body:not(.sidebar-xs)  .nav-group-sub > li:nth-child(14)>a,

.nav-sidebar > .nav-item:nth-child(14)>a {
	opacity: 0;
	transform: translateX(50px);
	-webkit-animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 1.4s;
	animation-delay: 1.4s;
}
body:not(.sidebar-xs)  .nav-group-sub > li:nth-child(15)>a,

.nav-sidebar > .nav-item:nth-child(15)>a {
	opacity: 0;
	transform: translateX(50px);
	-webkit-animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}
body:not(.sidebar-xs)  .nav-group-sub > li:nth-child(16)>a,

.nav-sidebar > .nav-item:nth-child(16)>a {
	opacity: 0;
	transform: translateX(50px);
	-webkit-animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 1.6s;
	animation-delay: 1.6s;
}
body:not(.sidebar-xs)  .nav-group-sub > li:nth-child(17)>a,

.nav-sidebar > .nav-item:nth-child(17)>a {
	opacity: 0;
	transform: translateX(50px);
	-webkit-animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 1.7s;
	animation-delay: 1.7s;
}
body:not(.sidebar-xs)  .nav-group-sub > li:nth-child(18)>a,

.nav-sidebar > .nav-item:nth-child(18)>a {
	opacity: 0;
	transform: translateX(50px);
	-webkit-animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 1.8s;
	animation-delay: 1.8s;
}
body:not(.sidebar-xs)  .nav-group-sub > li:nth-child(19)>a,

.nav-sidebar > .nav-item:nth-child(19)>a {
	opacity: 0;
	transform: translateX(50px);
	-webkit-animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 1.9s;
	animation-delay: 1.9s;
}
body:not(.sidebar-xs)  .nav-group-sub > li:nth-child(20)>a,

.nav-sidebar > .nav-item:nth-child(20)>a {
	opacity: 0;
	transform: translateX(50px);
	-webkit-animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	animation: 0.2s intro-submenu-animation ease-in-out 0.33333s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}
.ripple{
	position: relative;
}
.ripple::after {
	opacity: 0;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
			flex-direction: row;
	-webkit-box-pack: center;
			justify-content: center;
	-webkit-box-align: center;
			align-items: center;
	position: absolute;
	top: -8px;
	left: -8px;
	right: 0;
	bottom: 0;
	content: "";
	height: 100%;
	width: 100%;
	border: 8px solid rgba(0, 0, 0, 0.2);
	border-radius: 100%;
	-webkit-animation-name: ripple;
			animation-name: ripple;
	-webkit-animation-duration: 3s;
			animation-duration: 3s;
	-webkit-animation-delay: 0s;
			animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
	-webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
			animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
	z-index: -1;
  }
  .ripple::before {
	opacity: 0;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
			flex-direction: row;
	-webkit-box-pack: center;
			justify-content: center;
	-webkit-box-align: center;
			align-items: center;
	position: absolute;
	top: -8px;
	left: -8px;
	right: 0;
	bottom: 0;
	content: "";
	height: 100%;
	width: 100%;
	border: 8px solid rgba(0, 0, 0, 0.2);
	border-radius: 100%;
	-webkit-animation-name: ripple;
			animation-name: ripple;
	-webkit-animation-duration: 3s;
			animation-duration: 3s;
	-webkit-animation-delay: 0.5s;
			animation-delay: 0.5s;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
	-webkit-animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
			animation-timing-function: cubic-bezier(0.65, 0, 0.34, 1);
	z-index: -1;
  }
@-webkit-keyframes intro-devider-animation {
	100% {
		opacity: 1;
	}
}

@keyframes intro-devider-animation {
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes intro-menu-animation {
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes intro-menu-animation {
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@-webkit-keyframes intro-submenu-animation {
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes intro-submenu-animation {
	100% {
		opacity: 1;
		transform: translateX(0px);
	}
}

@-webkit-keyframes intro-active-menu-animation {
	100% {
		z-index: 10;
	}
}

@keyframes intro-active-menu-animation {
	100% {
		z-index: 10;
	}
}
@-webkit-keyframes ripple {
	from {
	  opacity: 1;
	  -webkit-transform: scale3d(0.75, 0.75, 1);
			  transform: scale3d(0.75, 0.75, 1);
	}
	to {
	  opacity: 0;
	  -webkit-transform: scale3d(1.5, 1.5, 1);
			  transform: scale3d(1.5, 1.5, 1);
	}
  }
  
  @keyframes ripple {
	from {
	  opacity: 1;
	  -webkit-transform: scale3d(0.75, 0.75, 1);
			  transform: scale3d(0.75, 0.75, 1);
	}
	to {
	  opacity: 0;
	  -webkit-transform: scale3d(1.5, 1.5, 1);
			  transform: scale3d(1.5, 1.5, 1);
	}
  }
  

.lineArea1 .ct-series.ct-series-a .ct-area {
    fill: #09D8D5;
}

.lineArea1 .ct-series.ct-series-a .ct-line {
    stroke-width: 5px;
    stroke: #09D8D5;
}

.lineArea1 .ct-series.ct-series-a .ct-circle {
    stroke-width: 5;
    stroke: #FFFFFF;
    fill: #09D8D5;
}

.lineArea1 .ct-series.ct-series-a .ct-circle-transperent {
    fill: transparent;
    stroke-width: 0;
}

.lineArea1Shadow {
    -webkit-filter: drop-shadow(0px 20px 6px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0px 20px 6px rgba(0, 0, 0, 0.3));
}

.lineArea2 .ct-point-circle {
    stroke-width: 2px;
    fill: white;
}

.lineArea2 .ct-line {
    fill: none;
    stroke-width: 1px;
}

.lineArea2 .ct-series.ct-series-a .ct-area {
    fill: #FF9149 !important;
    fill-opacity: 0.2;
}

.lineArea2 .ct-series.ct-series-a .ct-line {
    stroke: #FF9149 !important;
    stroke-width: 3px;
}

.lineArea2 .ct-series.ct-series-a .ct-circle {
    fill: #FF9149 !important;
    stroke-width: 5;
    stroke: #FFFFFF !important;
}

.lineArea2 .ct-series.ct-series-a .ct-point-circle {
    stroke: #31AFB2;
}

.lineArea2 .ct-series.ct-series-b .ct-area {
    fill: #1E9FF2 !important;
    fill-opacity: 0.1;
}

.lineArea2 .ct-series.ct-series-b .ct-line {
    stroke: #1E9FF2 !important;
    stroke-width: 3px;
}

.lineArea2 .ct-series.ct-series-b .ct-circle {
    fill: #1E9FF2 !important;
    stroke-width: 5;
    stroke: #FFFFFF;
}

.lineArea2 .ct-series.ct-series-b .ct-point-circle {
    stroke: #FF8D60;
}

.lineArea3 .ct-series-a .ct-area {
    fill: #FF4961;
}

.lineArea3 .ct-line {
    stroke: #FF4961;
    stroke-width: 3px;
}

.lineArea3 .ct-point {
    stroke-width: 0;
}

.lineArea3 .ct-circle {
    fill: #FF4961;
    stroke-width: 5;
    stroke: #FFFFFF;
}

.lineChart1 .ct-line {
    fill: none;
    stroke-width: 3px;
    stroke: none;
}

.lineChart1 .ct-point {
    stroke-width: 0;
}

.lineChart1Shadow {
    -webkit-filter: drop-shadow(0px 20px 6px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0px 20px 6px rgba(0, 0, 0, 0.3));
}

.shadow {
    -webkit-filter: drop-shadow(0px 25px 8px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0px 25px 8px rgba(0, 0, 0, 0.3));
}

.lineChart1 .ct-series-a .ct-area {
    fill-opacity: 1;
    fill: url(#gradientChart) !important;
}

.lineChart1 .ct-line {
    stroke-width: 0;
}

.lineChart1 .ct-series-a .ct-point-circle {
    fill: #A389D1;
    stroke-width: 3;
    stroke: rgba(186, 191, 199, 0.3);
}

.lineChart1 .ct-series-a .ct-point-circle-transperent {
    fill: transparent;
}

.ct-grid {
    stroke-dasharray: 0;
    stroke: rgba(0, 0, 0, 0.1);
}

.ct-labels .ct-label {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.4);
}

.lineChart .ct-series.ct-series-a .ct-line {
    stroke: url(#linear1) !important;
    stroke-width: 5px;
}

.lineChart .ct-series.ct-series-a .ct-circle {
    fill: url(#linear1) !important;
    stroke-width: 5;
    stroke: #FFFFFF;
}

.lineChart .ct-series.ct-series-a .ct-circle-transperent {
    fill: transparent;
    stroke-width: 0;
}

.lineChart .ct-labels .ct-label {
    color: rgba(0, 0, 0, 0.4);
}

.lineChart.lineChartShadow {
    -webkit-filter: drop-shadow(0px 20px 6px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0px 20px 6px rgba(0, 0, 0, 0.3));
}

.Stackbarchart .ct-series-a .ct-bar {
    stroke: url(#StackbarGradient);
}

.Stackbarchart .ct-series-a .ct-slice-bar {
    fill: url(#StackbarGradient);
    stroke: transparent;
}

.donut .ct-done .ct-slice-donut-solid {
    fill: url(#donutGradient1);
}

.donut .ct-progress .ct-slice-donut-solid {
    fill: url(#donutGradient2);
}

.donut .ct-outstanding .ct-slice-donut-solid {
    fill: url(#donutGradient3);
}

.donut .ct-label {
    text-anchor: middle;
    alignment-baseline: middle;
    font-size: 20px;
    fill: #868E96;
}

.donut .ct-chart-donut .ct-series {
    stroke: #FFFFFF;
    stroke-width: 3px;
}

.donutShadow {
    -webkit-filter: drop-shadow(0px 20px 8px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0px 20px 8px rgba(0, 0, 0, 0.3));
}

.BarChart .ct-series-a .ct-bar:nth-of-type(5n+1), .BarChart .ct-series-a .ct-slice-bar:nth-of-type(5n+1) {
    stroke: url(#gradient7);
    fill: url(#gradient7);
}

.BarChart .ct-series-a .ct-bar:nth-of-type(5n+2), .BarChart .ct-series-a .ct-slice-bar:nth-of-type(5n+2) {
    stroke: url(#gradient5);
    fill: url(#gradient5);
}

.BarChart .ct-series-a .ct-bar:nth-of-type(5n+3), .BarChart .ct-series-a .ct-slice-bar:nth-of-type(5n+3) {
    stroke: url(#gradient6);
    fill: url(#gradient6);
}

.BarChart .ct-series-a .ct-bar:nth-of-type(5n+4), .BarChart .ct-series-a .ct-slice-bar:nth-of-type(5n+4) {
    stroke: url(#gradient4);
    fill: url(#gradient4);
}

.BarChart .ct-series-a .ct-bar:nth-of-type(5n+5), .BarChart .ct-series-a .ct-slice-bar:nth-of-type(5n+5) {
    stroke: url(#gradient8);
    fill: url(#gradient8);
}

.BarChartShadow {
    -webkit-filter: drop-shadow(0px 20px 8px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0px 20px 8px rgba(0, 0, 0, 0.3));
}

.lineChartWidget .ct-series-a .ct-area {
    fill-opacity: 1;
}

.lineChartWidget .ct-series-a .ct-line {
    stroke-width: 0;
}

.lineChartWidget .ct-series-a .ct-point-circle {
    fill: #FFFFFF;
    stroke-width: 10;
    stroke: #8249E8;
}

.lineChartWidget .ct-series-a .ct-point-circle-transperent {
    fill: transparent;
}

.lineChartWidget .ct-series-a .ct-target-line {
    stroke: #FFFFFF;
    stroke-width: 2px;
    stroke-dasharray: 4px;
}

.WidgetlineChart .ct-series-a .ct-area {
    fill: url(#wGradient) !important;
}

.WidgetlineChart .ct-series-a .ct-point-circle {
    stroke: #8249E8;
}

.WidgetlineChart1 .ct-series-a .ct-area {
    fill: url(#wGradient1) !important;
}

.WidgetlineChart1 .ct-series-a .ct-point-circle {
    stroke: #FA5B4C;
}

.ct-target-line {
    stroke: #FFFFFF;
    stroke-width: 2px;
    stroke-dasharray: 4px;
}

.WidgetlineChart2 .ct-series-a .ct-area {
    fill: url(#wGradient2) !important;
}

.WidgetlineChart2 .ct-series-a .ct-point-circle {
    stroke: #19667D;
}

.ct-grid {
    stroke-dasharray: 0;
    stroke: rgba(0, 0, 0, 0.1);
}

.ct-label {
    font-size: 0.9rem;
}

.WidgetAreaChart .ct-series-a .ct-area {
    fill-opacity: 1;
}

.WidgetAreaChart .ct-series-a .ct-line {
    stroke-width: 0;
}

.WidgetAreaChart .ct-series-a .ct-point-circle {
    stroke-width: 5;
    stroke: #FFFFFF;
}

.WidgetAreaChart .ct-series-a .ct-point-circle-transperent {
    fill: transparent;
}

.WidgetAreaChart .ct-target-line {
    stroke: #FFFFFF;
    stroke-width: 2px;
    stroke-dasharray: 4px;
}

.WidgetAreaChartshadow {
    -webkit-filter: drop-shadow(0px -5px 2px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px -5px 2px rgba(0, 0, 0, 0.2));
}

.WidgetAreaChart1 .ct-series-a .ct-area {
    fill: url(#Wlinear) !important;
}

.WidgetAreaChart1 .ct-series-a .ct-point-circle {
    fill: #FA394E;
}

.WidgetAreaChart2 .ct-series-a .ct-area {
    fill: url(#Wlinear2) !important;
}

.WidgetAreaChart2 .ct-series-a .ct-point-circle {
    fill: #6D3DA7;
}

.WidgetAreaChart3 .ct-series-a .ct-area {
    fill: url(#Wlinear3) !important;
}

.WidgetAreaChart3 .ct-series-a .ct-point-circle {
    fill: #6D64F3;
}

.lineChart2 .ct-series.ct-series-a .ct-line {
    stroke: url(#lineGradient1) !important;
    stroke-width: 3px;
}

.lineChart2 .ct-series.ct-series-a .ct-circle {
    fill: url(#lineGradient1) !important;
    stroke-width: 3;
    stroke: #FFFFFF;
}

.lineChart2 .ct-series.ct-series-b .ct-line {
    stroke: url(#lineGradient2) !important;
    stroke-width: 3px;
}

.lineChart2 .ct-series.ct-series-b .ct-circle {
    fill: url(#lineGradient2) !important;
    stroke-width: 3;
    stroke: #FFFFFF;
}

.lineChart2Shadow {
    -webkit-filter: drop-shadow(0px 14px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px 14px 4px rgba(0, 0, 0, 0.2));
}

.lineAreaChart .ct-point-circle-transperent {
    fill: transparent;
}

.lineAreaChart .ct-series-a .ct-area {
    fill-opacity: 0.7;
    fill: url(#laGradient1) !important;
}

.lineAreaChart .ct-series-a .ct-line {
    stroke-width: 0;
}

.lineAreaChart .ct-series-a .ct-point-circle {
    fill: url(#laGradient1) !important;
    stroke-width: 3;
    stroke: #FFFFFF;
}

.lineAreaChart .ct-series-b .ct-area {
    fill-opacity: 0.9;
    fill: url(#laGradient) !important;
}

.lineAreaChart .ct-series-b .ct-line {
    stroke-width: 0;
}

.lineAreaChart .ct-series-b .ct-point-circle {
    fill: transparent;
    stroke-width: 0;
}

.lineAreaChartShadow {
    -webkit-filter: drop-shadow(0px -8px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px -8px 4px rgba(0, 0, 0, 0.2));
}

.lineArea6 .ct-series-a .ct-area {
    fill-opacity: 1;
    fill: url(#gradient6) !important;
}

.lineArea6 .ct-series.ct-series-a .ct-line {
    stroke: url(#linear6) !important;
    stroke-width: 13px;
}

.lineArea6 .ct-series.ct-series-a .ct-point-circle {
    fill: url(#linear6) !important;
    stroke-width: 5;
    stroke: #FFFFFF;
}

.lineArea6 .ct-series-a .ct-point-circle-transperent {
    fill: transparent;
}

.lineArea6Shadow {
    -webkit-filter: drop-shadow(0px -8px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0px -8px 4px rgba(0, 0, 0, 0.2));
}

