@media only screen and (max-width: 1199px) {
    .about-opacity-icon i{
        font-size: 70px;
    }



















}
@media only screen and (max-width: 1199px) {
    .lineChartWidget{
        display: none;
    }
    .table-hover tbody tr:hover{
        background: transparent;
    }
    .table-res colgroup{
        display: block;
    }
    .table-res colgroup col{
        display: block;
    }


}

@media only screen and (max-width: 991px) {
    .page-title{
        display: block;
    }
    .page-title > *:first-child{
        margin-bottom: 5px;
    }
    .bieu-do{
        margin: 0 -5px;
    }
    .bieu-do > div{
        padding: 0 5px;
    }
}

@media only screen and (max-width: 767px) {
    
    [class*=" icon-"], [class^=icon-]{
        font-size: 12px;
    }
    .page-content{
        display: block;
        background: transparent;
    }
    .content-wrapper{
        border-radius: 0px;
    }
    .content-wrapper::before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        content: "";
        display: block;
        height: 85px;
        background: #1C3FAA;
        z-index: 1;
        opacity: .2;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .content-wrapper::after{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        content: "";
        display: block;
        height: 85px;
        background: url(../images/dash-bg.png) no-repeat center center;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    .content {
        position: relative;
        z-index: 1;
        height: 100vh;
        padding: 0 15px;
        -ms-display: flex;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex: 1;
        flex: 1;
    }
    #footer {
        position: relative;
        display: block !important;
        text-align: center;
        margin-top: auto;
        color: #fff;
        margin: auto -15px 0;
        padding: 10px 15px 7px !important;
    }
    #footer::before {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        content: "";
        display: block;
        height: 100%;
        background: #1C3FAA;
        z-index: 1;
        opacity: .2;
        border-top-left-radius: 0;
        border-top-right-radius: 30px;
    }
    #footer:after{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        content: "";
        display: block;
        height: 100%;
        background: url(../images/dash-bg.png) no-repeat center center;
        background-size: cover;
        background-position: center center;
        border-top-left-radius: 0px;
        border-top-right-radius: 30px;
    }
    #footer > span{
        display: block;
        position: relative;
        z-index: 1;
    }
    #footer > span:first-child a{
        color: #fff;
    }
    #footer > span:last-child *{
        display: inline-block !important;
    }
    .header-top{
        padding: 10px 0;
        margin: 0;
    }
    .header-top.sticky {
        margin: 0;
        padding: 15px;
        position: fixed;
        top: -60px;
        right: 0;
        left: 0;
        z-index: 10;
        padding: 10px 15px;
        background: url(../images/dash-bg.png) no-repeat center center;
        background-color: #1C3FAA;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
        -webkit-transition: top 0.25s ease-in-out;
        transition: top 0.25s ease-in-out;
    }
    .header-top.sticky.show {
        top: 0;
    }
    .header-search{
        display: none;
    }
    .breadcrumb{
        display: none;
    }

    .header-top.sticky .top-right > ul > li > a i{
        color: #fff;
    }

    .header-top .dropdown-user img{
        border: 2px solid #fff;
    }

    .top-right > ul > li > a,
    .sidebar-mobile-main-toggle{
        color: #fff;
    }
    .top-left{
        margin-left: 35px;
    }
    .logo {
        display: none;
    }
    .logo-mobile .logo-img {
        margin-right: 0;
    }
    .logo-mobile .logo-text {
        color: #fff !important;
        font-size: 22px;
    }
    .logo-mobile .logo-img img{
        width: 30px;
    }
    .sidebar{
        padding: 0;
        background: #fff;
    }
    .sidebar-main .nav-sidebar{
        padding: 0;
    }
    .sidebar-main .nav-sidebar .nav-link{
        color: #2d3748;
    }
    .sidebar .sidebar-content{
        padding: 20px 10px;
    }
    .sidebar-main .nav-sidebar .nav-item.nav-item-open{
        background-color: #f5f5f5;
        border-radius: 4px;
    }
    .sidebar-main .nav-group-sub .nav-link{
        background: #fff;
    }
    .sidebar-main .nav-group-sub .nav-link,
    .sidebar-main .nav-sidebar .nav-item:hover .nav-link:not(.active),
    .sidebar-xs .sidebar-main .nav-sidebar .nav-item:hover .nav-link:not(.active){
        background-color:transparent !important;
    }
    .sidebar-main .nav-sidebar .nav-link>span:before{
        display: none;
    }
    .sidebar-main .nav-item-submenu>.nav-link>span:after{
        right: 10px;
    }
    .nav-item-open > .nav-group-sub {
        padding-bottom: 10px;
    }
    .sidebar-main .nav-sidebar .nav-link{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        padding: 6px 10px;
    }
    
    .sidebar-main .nav-item-submenu>.nav-link {
        padding-right: 20px;
    }
    .sidebar-main .nav-group-sub .nav-link {
        padding: 2px 28px;
        margin: 2px 0px;
    }
    .sb-overlay{
        -webkit-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms;
        width: 100%;
        position: fixed;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(2, 3, 16, 0.3);
        z-index: 9;
    }
    .page-title {
        background: #fff;
        padding: 10px 15px;
        border-radius: 4px;
        margin-bottom: 20px;
    }
    .page-title > *:first-child {
        margin-bottom: 10px;
    }
    .page-title > *:first-child *{
        font-size: 13px;
    }
    .page-title > *:first-child i{
        margin-right: 5px !important;
    }
    .page-title .p-button{
        margin: -2.5px;
    }
    .page-title .p-button > *{
        margin: 2.5px !important;
    }
    .bieu-do > div{
        width: 50%;
    }
    .card-header .card-title {
        font-size: 12px;
    }
    .sidebar-main .nav-sidebar .nav-item>a.active:before,
    .sidebar-main .nav-sidebar .nav-item>a.active:after{
        display: none;
    }
    

}

@media only screen and (max-width: 567px) {
    body{
        font-size: 10px;
        line-height: 19px;
    }
    .row {
        margin-right: -5px;
        margin-left: -5px;
    }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
        padding-right: 5px;
        padding-left: 5px;
    }
    .about-box {
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 10px;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently*/
    }
    .about-main-icon {
        padding-bottom: 5px;
    }
    .about-box .about-main-icon i {
        font-size: 24px;
        transform: translateY(0);
    }
    .about-opacity-icon{
        display: none;
    }
    .about-box h5{
        font-size: 10px;
        font-weight: 400;
        text-transform: capitalize;
    }
    .sec-report > .row{
        display: block;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        margin-right: -16px;
        padding-right: 10px;
    }
    .sec-report > .row > div{
        display: inline-block;
        max-width: 100%;
        width: 60%;
    }
    .sec-report .card{
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
    }
    .media .media-right > i{
        font-size: 20px;
    }
    .media .card-title {
        font-size: 12px;
    }
    .media-list .media > div:first-child{
        display: none;
    }
    .media-list .media .font-size-xxs{
        font-size: inherit;
    }
    .media-list .media:not(:first-child){
        margin-top: 10px;
    }
    #footer > span:last-child a{
        display: block !important;
    }
    .sup-box {
        max-width: 100%;
        margin-top: 30px !important;
    }
    .sup-down a {
        width: 80px;
        height: 26px;
        line-height: 24px;
        margin: 5px;
    }
    .dropdown-user .sub{
        font-size: inherit;
    }
    .dropdown-item{
        display: block;
    }
    .form-group-select .select-icon{
        top: 4px;
    }
    .form-group-select select {
        padding-right: 15px;
    }
    .form-control{
        font-size: inherit;
    }
    .card-list-footer > div:first-child{
        padding: 10px 0;
        -ms-justify-content: center;
        justify-content: center;
    }
    .pagination {
        -ms-justify-content: center;
        justify-content: center;
    }

}


@media only screen and (max-width: 425px) {
    .bieu-do > div {
        width: 100%;
    }
    .header-elements .select-date{
        display: none;
    }
    .daterange-ranges .mr-2{
        margin-right: 0px !important;
    }
    .card-search [class^=col-]{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .card-search [class^=col-]:last-child > label{
        display: none;
    }
}