body {
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    font-family: 'Roboto';
    font-size: 0.875rem;
    color: #2d3748;
    background: #1C3FAA;
}

.page-content {
    position: relative;
    z-index: 2;
    padding: 20px;
    ;
}

.content-wrapper {
    position: relative;
    background-color: #F1F5F8;
    border-radius: 30px;
    margin-bottom: 50px;
}

.page-title {
    padding: 0 0 2rem;
    position: relative;
}

.page-title small {
    display: inline-block;
    margin-left: 0.625rem;
}

.page-title small:before {
    content: '/';
    margin-right: 0.875rem;
}

.page-title small.d-block {
    margin-left: 0;
}

.page-title small.d-block:before {
    content: none;
}

.page-title small.d-block, .page-title .breadcrumb {
    margin-left: 1.875rem;
}

.page-title h1, .page-title h2, .page-title h3, .page-title h4, .page-title h5, .page-title h6 {
    margin: 0;
}

.page-header-content {
    position: relative;
}

.page-header-content[class*=border-bottom-]+.breadcrumb-line {
    border-top: 0;
}

.card {
    -webkit-box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.01), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.01), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
    border-radius: 6px;
}

.card-title {
    font-weight: 500;
}

.sidebar-main-toggle {
    position: absolute;
    top: -15px;
    right: 0;
    font-size: 20px;
    z-index: 5;
    color: #ff9b07 !important;
}

.sidebar-main-toggle>i {
    font-weight: bolder;
}

.sidebar-xs .sidebar-main-toggle>i:before {
    content: "\e970";
}

.sidebar .logo {
    position: relative;
    padding: 18px 15px 18px 10px;
    z-index: 4;
}

.sidebar .logo p {
    float: left;
    font-size: 20px;
    margin: 10px 10px;
    color: #FFFFFF;
    line-height: 20px;
}

.sidebar .logo-img {
    display: inline-block;
    margin-right: 5px;
}

.sidebar .logo-img img {
    width: 60px;
}

.sidebar .logo .logo-text {
    text-transform: uppercase;
    padding: 5px 0;
    display: block;
    font-size: 1.6rem;
    letter-spacing: 2px;
    color: #fff;
    text-align: left;
    font-weight: 400;
}

.sidebar .logo .logo-text .text {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
}

.sidebar-xs .sidebar .logo {
    position: relative;
    padding: 10px 5px;
    z-index: 4;
}

.sidebar-xs .sidebar .logo-img img {
    width: 40px;
}

.sidebar-xs .sup-box, .sidebar-xs .sidebar .logo .logo-text .text {
    display: none;
}

.header-top {
    margin-bottom: 10px;
}

.header-search {
    position: relative;
    overflow: hidden;
}

.header-search>input {
    width: 200px;
    border-radius: 9999px;
    background-color: #D2DFEA;
    padding: 0 15px;
    padding-right: 30px;
    height: 36px;
    outline: none;
    border: none;
}

.header-search>.btn-search {
    position: absolute;
    color: #365A74;
    height: 36px;
    line-height: 36px;
    width: 36px;
    top: 0;
    right: 0;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -ms-flexbox;
    display: flex;
}

.header-search>.btn-search>i {
    font-size: 18px;
    font-weight: bold;
}

.bd_bottom {
    border-bottom: 1px solid #dee7ef;
}

.sup-box {
    position: relative;
    background: #FFDE80;
    border-radius: 20px;
    overflow: hidden;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.sup-box img {
    max-width: 200px;
    margin-top: 80px;
}

.sup-up {
    position: absolute;
    top: 20px;
    right: 20px;
}

.sup-up h3 {
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
    margin: 0;
}

.sup-up p {
    margin: 0;
    font-weight: 500;
}

.sup-down p {
    margin: 0;
}

.sup-down {
    position: absolute;
    top: 90px;
    right: 30px
}

.sup-down a {
    color: #1c3faa;
    width: 100px;
    text-align: center;
    height: 36px;
    line-height: 34px;
    display: block;
    border: 2px solid #1c3faa;
    margin: 5px;
    border-radius: 20px;
    transition: ease-in-out 0.3s;
    font-weight: 500;
}

.sup-down a:hover {
    background: #1c3faa;
    color: #fff;
}

.sup-down i {
    font-weight: bold;
}

.about-box {
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 50px 15px 50px;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(127, 123, 123, 0.1);
    box-shadow: 0 0 5px rgba(127, 123, 123, 0.1);
    transition: ease-in-out 0.3s;
}

.about-box:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0 14px 24px rgba(62, 57, 107, .2);
    z-index: 30;
}

.about-box .about-main-icon i {
    color: #0284d0;
    font-size: 40px;
    transform: translateY(0);
    transition: ease-in-out 0.3s;
}

.about-box .about-main-icon i {
    color: #fff;
    transform: translateY(-10px);
}

.about-box h5 {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    transition: ease-in-out 0.3s;
}

.about-opacity-icon {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-opacity-icon i {
    position: absolute;
    color: #fff;
    top: 30px;
    font-size: 120px;
    font-weight: 800;
    line-height: 1;
    text-transform: capitalize;
    opacity: 0;
}

@keyframes scale {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px)
    }
}

.about-box .about-opacity-icon i {
    opacity: .09;
}

.about-box:hover .about-opacity-icon i {
    animation: scale .6s alternate infinite linear both;
}

.dropdown-item.active, .dropdown-item:active {
    color: initial;
    text-decoration: none;
    background-color: transparent;
}

.bd-all {
    border: 1px solid #dee7ef;
}

.bd-left {
    border-left: 1px solid #dee7ef;
}

.bd-right {
    border-right: 1px solid #dee7ef;
}

.bd-top {
    border-top: 1px solid #dee7ef;
}

.bd-bottom {
    border-bottom: 1px solid #dee7ef;
}

.dt-buttons {
    display: block;
    margin: 0;
    width: 100%;
}

.dt-buttons button {
    display: block;
    position: relative;
    width: 100%;
    padding: .375rem;
    border-radius: 0.375rem;
    clear: both;
    font-weight: 400;
    color: #333;
    text-align: inherit;
    white-space: nowrap;
    outline: none;
    border: none;
    background: transparent;
}

.dt-buttons button:hover {
    color: #333;
    text-decoration: none;
    background-color: #f5f5f5;
}

.dt-buttons button:before {
    font-size: 1rem;
    margin-right: 10px;
    font-family: icomoon!important;
}

.buttons-copy:before {
    content: "\ea35";
}

.buttons-csv:before {
    content: "\ea32";
}

.buttons-excel:before {
    content: "\ef39";
}

.buttons-pdf:before {
    content: "\ef36";
}

.buttons-print:before {
    content: "\eab7";
}

/* Footer Wave */

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto
}

.waveWrapper .waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px
}

.waveWrapper .bgTop {
    z-index: 1;
    opacity: 0.5;
}

.waveWrapper .bgBottom {
    z-index: 1;
}

.waveWrapper .wave {
    position: absolute;
    left: 0;
    width: 1000%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom
}

.waveWrapper .waveTop {
    background-image: url("../images/wave1.png");
    background-size: 37% 100px
}

.waveWrapper .waveBottom {
    background-image: url("../images/wave1.png");
    background-size: 37% 100px;
    -webkit-animation: move_wave 25s linear infinite;
    animation: move_wave 25s linear infinite
}

.waveWrapper .wavetop_1 {
    background-image: url("../images/wave2.png");
    background-size: 37% 100px
}

.waveWrapper .wavebottom_1 {
    background-image: url("../images/wave2.png");
    background-size: 37% 100px;
    -webkit-animation: move_wave 25s linear infinite;
    animation: move_wave 25s linear infinite
}

@-webkit-keyframes move_wave {
    0% {
        -webkit-transform: translateX(0) translateZ(0) scaleY(1);
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

@keyframes move_wave {
    0% {
        -webkit-transform: translateX(0) translateZ(0) scaleY(1);
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        -webkit-transform: translateX(-25%) translateZ(0) scaleY(0.55);
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        -webkit-transform: translateX(-50%) translateZ(0) scaleY(1);
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper .wavetop_3 {
    background-image: url("../images/wave3.png");
    background-size: 37% 100px
}

.waveWrapper .wavebottom_3 {
    background-image: url("../images/wave3.png");
    background-size: 37% 100px;
    -webkit-animation: move_wave 25s linear infinite;
    animation: move_wave 25s linear infinite
}

/* End-Footer Wave */

.form-group-select {
    position: relative;
    overflow: hidden;
}

.form-group-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.form-group-select select::-ms-expand {
    display: none;
}

.form-group-select .select-icon {
    pointer-events: none;
    content: "";
    font-family: icomoon;
    display: inline-block;
    position: absolute;
    top: 6px;
    right: 12px;
    font-size: 1rem;
    margin-top: -.12502rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.rdb_custom [type="radio"]:checked, .rdb_custom [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.rdb_custom [type="radio"]:checked+label, .rdb_custom [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    margin-right: 1.25rem;
}

.rdb_custom [type="radio"]:checked+label:before, .rdb_custom [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25rem;
    height: 1.25rem;
    border: .125rem solid #455a64;
    transition: border-color ease-in-out .15s;
    border-radius: 100%;
    background: #fff;
}

.rdb_custom [type="radio"]:checked+label:after, .rdb_custom [type="radio"]:not(:checked)+label:after {
    content: '';
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    border: .3125rem solid;
    border-color: inherit;
    width: 0;
    height: 0;
    border-radius: 100px;
    opacity: 0;
    background: #455a64;
    transition: all ease-in-out .15s;
}

.rdb_custom [type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.rdb_custom [type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.ckb_custom input[type=checkbox]+label {
    display: block;
    cursor: pointer;
    margin-bottom: 0;
}

.ckb_custom input[type=checkbox] {
    display: none;
}

.ckb_custom input[type=checkbox]+label:before {
    content: "";
    font-family: icomoon;
    font-size: 1rem;
    border: .125rem solid #1c3faa;
    border-radius: .125rem;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.7em;
    transition: .2s;
    color: #fff;
}

.ckb_custom input[type=checkbox]+label:active:before {
    transform: scale(0);
}

.ckb_custom input[type=checkbox]:checked+label:before {
    color: #1c3faa;
}

.ckb_custom input[type=checkbox]:disabled+label:before {
    transform: scale(1);
    border-color: #ccc;
}

.ckb_custom input[type=checkbox]:checked:disabled+label:before {
    transform: scale(1);
}

.button-switch {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    height: 20px;
    position: relative;
    width: 70px;
}

.button-switch.button-switch.no-label {
    width: 50px;
}

.button-switch .lbl-off, .button-switch .lbl-on {
    cursor: pointer;
    display: block;
    position: absolute;
    pointer-events: none;
    top: 1.5px;
    -webkit-transition: opacity 0.25s ease-out 0.1s;
    transition: opacity 0.25s ease-out 0.1s;
}

.button-switch.button-switch.no-label label {
    font-size: 0px;
}

.button-switch .lbl-off {
    right: 12px;
}

.button-switch .lbl-on {
    opacity: 0;
    left: 16px;
    margin: 0;
}

.button-switch .switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 0;
    left: 0;
    line-height: 0;
    outline: none;
    position: absolute;
    top: 0;
    width: 0;
}

.button-switch .switch:before, .button-switch .switch:after {
    content: "";
    position: absolute;
}

.button-switch .switch:before {
    cursor: pointer;
    border-radius: 30px;
    background: #bdc3c7;
    height: 26px;
    width: 70px;
    left: -3px;
    top: -3px;
    -webkit-transition: background-color 0.25s ease-out 0.1s;
    transition: background-color 0.25s ease-out 0.1s;
}

.button-switch.no-label .switch:before {
    width: 50px;
}

.button-switch .switch:checked:before {
    background-color: #4caf50;
}

.button-switch .switch:after {
    cursor: pointer;
    box-shadow: 0 0.0625em 0.375em 0 #666;
    border-radius: 50%;
    background: #fefefe;
    height: 19px;
    width: 19px;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 0.25s ease-out 0.1s;
    transition: -webkit-transform 0.25s ease-out 0.1s;
    transition: transform 0.25s ease-out 0.1s;
    transition: transform 0.25s ease-out 0.1s, -webkit-transform 0.25s ease-out 0.1s;
}

.button-switch .switch:checked:after {
    -webkit-transform: translate(44px, 0);
    transform: translate(44px, 0);
}

.button-switch.no-label .switch:checked:after {
    -webkit-transform: translate(24px, 0);
    transform: translate(24px, 0);
}

.button-switch .switch:checked~.lbl-off {
    opacity: 0;
}

.button-switch .switch:checked~.lbl-on {
    opacity: 1;
}

.button-switch .switch#switch-orange:checked:before {
    background: #e67e22;
}

.button-switch .switch#switch-blue:checked:before {
    background: #3498db;
}

.switch-title {
    font-size: 12px;
    font-weight: 500;
}

.form-control:not(.border-1):not(.border-2):not(.border-3):focus {
    border-color: #1c3faa;
}

.select2-selection--single {
    border-radius: 0.375rem;
}

input[type=radio], input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=radio] {
    width: 16px;
    height: 16px;
    position: relative;
    border-radius: 9999px;
    overflow: hidden;
    cursor: pointer;
}

input[type=radio]:before {
    content: "";
    width: 10px;
    height: 10px;
    transition: all 0.2s ease-in-out;
    position: absolute;
    border-radius: 9999px;
    --bg-opacity: 1;
    background-color: #1C3FAA;
    background-color: rgba(28, 63, 170, var(--bg-opacity));
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0;
}

input[type=radio]:checked {
    --border-opacity: 1;
    border-color: #1C3FAA;
    border-color: rgba(28, 63, 170, var(--border-opacity));
}

input[type=radio]:checked:before {
    opacity: 1;
}

input[type=checkbox]:not(.switch) {
    width: 20px;
    height: 20px;
    border-radius: 0.2em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: 1px solid #ddd;
    background: #fff;
}

input[type=checkbox]:not(.switch):before {
    content: "";
    transition: all 0.2s ease-in-out;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 80%;
    width: 100%;
    height: 100%;
    position: absolute;
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity));
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-repeat: no-repeat;
    background-position: center;
}

input[type=checkbox]:not(.switch):checked {
    --bg-opacity: 1;
    background-color: #1C3FAA;
    background-color: rgba(28, 63, 170, var(--bg-opacity));
    --border-opacity: 1;
    border-color: #1C3FAA;
    border-color: rgba(28, 63, 170, var(--border-opacity));
}

input[type=checkbox]:not(.switch):checked:before {
    opacity: 1;
}

select.input {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='rgb(74, 85, 104)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
    background-size: 15px;
    background-position: center right 0.6rem;
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity));
    background-repeat: no-repeat;
    padding-right: 2rem;
}

.btn {
    border-radius: 0.375rem;
    font-weight: 500;
    cursor: pointer;
}

.w80 {
    width: 80px;
}

.w100 {
    width: 100px;
}

.w120 {
    width: 120px;
}

.w140 {
    width: 140px;
}

.form-control {
    border-radius: 0.375rem;
}

.table th, .table td {
    padding: 0.5rem;
}

.collapse-group {
    margin-bottom: 20px;
}

.collapse-group .p-title {
    font-weight: 500;
    margin-bottom: 20px;
}

.collapse-group .c-title>a {
    color: #1c3faa;
    font-weight: 500;
    pointer-events: none;
}

.collapse-group .c-title .cls_ckb {
    height: 18px;
    width: 18px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}

.collapse-group .c-item {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 0.375rem;
    margin-bottom: 35px;
}

.collapse-group .c-item.open {
    border-color: #1c3faa;
}

.collapse-group .c-title {
    display: inline-block;
    margin-bottom: 0.5rem;
    position: absolute;
    top: -11px;
    left: -10px;
    background: #fff;
    padding: 0 10px 10px 10px;
}

.c-title .button-switch.no-label {
    display: inline-block;
    vertical-align: middle;
}

.collapse-group .c-body {
    padding: 20px;
}

.table-size12 {
    font-size: 12px;
    line-height: normal;
}

.table-size12 .form-control {
    font-size: 12px;
    height: 20px;
    padding: 5px;
    border-radius: 3px;
}

.table-size12 th, .table-size12 td {
    padding: 5px;
}

.table-size12 input[type=checkbox]:not(.switch) {
    width: 16px;
    height: 16px;
}

.table-size12 .select2-selection--single {
    cursor: pointer;
    outline: 0;
    display: block;
    padding: 0;
    line-height: 20px;
    height: 20px;
}

.table-size12 .select2-selection--single .select2-selection__rendered {
    padding-left: 5px;
    padding-right: 10px;
    height: auto;
}

.table-size12 .select2-selection--single .select2-selection__arrow:after {
    right: 5px;
}

.btn-12, .table-size12 .btn {
    padding: 0 10px;
    font-size: 12px;
    height: 20px;
    border-radius: 3px;
}

.modal-dialog {
    max-width: 900px;
}

#validation .form-group label {
    font-weight: 500;
}

.btn-popover {
    outline: none !important;
    border: none;
    background: transparent;
    padding: 0;
    color: var(--yellow);
}

.popover {
    border: 1px solid var(--yellow);
}

.bs-popover-bottom>.arrow::before, .bs-popover-auto[x-placement^="bottom"]>.arrow::before {
    border-bottom-color: var(--yellow);
}

.bs-popover-top>.arrow::before, .bs-popover-auto[x-placement^="top"]>.arrow::before {
    border-top-color: var(--yellow);
}

.bs-popover-left>.arrow::before, .bs-popover-auto[x-placement^="left"]>.arrow::before {
    border-left-color: var(--yellow);
}

.bs-popover-right>.arrow::before, .bs-popover-auto[x-placement^="right"]>.arrow::before {
    border-right-color: var(--yellow);
}

.popover-header {
    padding: 10px 10px 0;
    margin-bottom: -5px;
}

.popover-body {
    font-size: 12px;
    padding: 10px;
}

.table-custom {
    display: table;
    vertical-align: middle;
}

.table-custom>* {
    display: table-cell;
    vertical-align: middle;
}

.dkbs>input {
    position: absolute !important;
}

.dkbs>label {
    cursor: pointer;
    padding-left: 20px;
}

.btn-outline-white:hover {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.btn-outline-white {
    color: #fff;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
}

.content-404 {
    height: 100vh;
}

.wrapper-404 {
    margin-left: 50px;
}

.wrapper-404 * {
    color: #fff;
}

.wrapper-404 h1 {
    font-size: 80px;
    font-weight: bold;
}

.wrapper-404 h3 {
    font-size: 26px;
}

.login-form{
    width: 400px;
}