/*Trang Chủ*/
.nav-sidebar>.nav-item>.nav-link{
    display: block;
}
.navbar-header .navbar-brand{
	padding: 10px 0 ;
}
.navbar-brand img{
	height: 65px;
	margin-left: 36px;
}
.nav-group-sub .nav-link{
    font-size: 12px;
    display: block;
}
.sidebar-xs .navbar-brand img {
    height: 40px;
	margin-left: 0px; 
}
.nav-sidebar .nav-item:not(.nav-item-header):last-child,
.nav-sidebar .nav-item:not(.nav-item-header):first-child{
	padding: 0;
}

.item-block{
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    transition: all .25s ease;
}
.item-block:hover {
	cursor: pointer;
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0 14px 24px rgba(62,57,107,.2);
}
.item-block .img {
    position: relative;
    overflow: hidden;
    display: block;
    height: 0px;
    padding-bottom: 35%;

}

.item-block .img .inner {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    display: block;
    text-align: center;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.1s;
    -moz-transition-duration: 0.1s;
    -o-transition-duration: 0.1s;
    transition-duration: 0.1s;
    padding-top: 30px;
}

.item-block .img .inner svg {
    height: 100px;
    width: 100px;
    fill: currentcolor;
    display: inline-block;
}

.item-block .info{
    padding: 15px 20px;
    text-align: center;
    display: block;
}
.item-block .info .title{
    font-weight: 500;
    display: block;
    margin: 0;
    font-size: 16px;
}

.item-block .info .subtitle {
    text-transform: uppercase;
    display: block;
    padding-top: 10px;
    color: rgba(255,255,255,0.8);
    margin: 0;
}


.nav-sidebar .nav-link i {
	margin: 0;
    margin-right: 1.25rem;
    font-size: 20px;
}

.nav-group-sub::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

.nav-group-sub::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background: rgba(0, 0, 0, .5);
}
.nav-group-sub::-webkit-scrollbar-track {
    border-radius: 25px;
    /*background: #E08E34;*/
}

.header-search{
    position: relative;
}
.header-search > i{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ccc;
}    
.header-search > input{
    width: 600px;
    padding: 0 35px;
}
.header-search > a{
    position: absolute;
    right: 0;
}
.dt-buttons{
    display: block;
    margin: 0;
    width: 100%;
}
.dt-buttons button{
    display: block;
    position: relative;
    width: 100%;
    padding: .5rem 1rem;
    clear: both;
    font-weight: 400;
    color: #333;
    text-align: inherit;
    white-space: nowrap;
    outline: none;
    border: none;
    background: transparent;
}
.dt-buttons button:hover {
    color: #333;
    text-decoration: none;
    background-color: #f5f5f5;
}
.dt-buttons button:before{
    font-size: 1rem;
    margin-right: 10px;
    font-family: icomoon!important;
}
.buttons-copy:before{
    content: "\ea35";
}
.buttons-csv:before{
    content: "\ea32";
}
.buttons-excel:before{
    content: "\ef39";
}
.buttons-pdf:before{
    content: "\ef36";
}
.buttons-print:before{
    content: "\eab7";
}

input[type=checkbox], 
input[type=radio] {
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.form-group-select {
    position: relative;
    overflow: hidden;
}
.form-group-select select{
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.form-group-select select::-ms-expand {
  display: none;
}

.form-group-select .select-icon {
    content: "";
    font-family: icomoon;
    display: inline-block;
    position: absolute;
    top: 6px;
    right: 12px;
    font-size: 1rem;
    margin-top: -.12502rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.rdb_custom [type="radio"]:checked,
.rdb_custom [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.rdb_custom [type="radio"]:checked + label,
.rdb_custom [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    margin-right: 1.25rem;
}
.rdb_custom [type="radio"]:checked + label:before,
.rdb_custom [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25rem;
    height: 1.25rem;
    border: .125rem solid #455a64;
    transition: border-color ease-in-out .15s;
    border-radius: 100%;
    background: #fff;
}
.rdb_custom [type="radio"]:checked + label:after,
.rdb_custom [type="radio"]:not(:checked) + label:after {
    content: '';
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    border: .3125rem solid;
    border-color: inherit;
    width: 0;
    height: 0;
    border-radius: 100px;
    opacity: 0;
    background: #455a64;
    transition: all ease-in-out .15s;
}
.rdb_custom [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.rdb_custom [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}



.ckb_custom input[type=checkbox] + label {
  display: block;
  cursor: pointer;
}

.ckb_custom input[type=checkbox] {
  display: none;
}

.ckb_custom input[type=checkbox] + label:before {
    content: "";
    font-family: icomoon;
    font-size: 1rem;
    border: .125rem solid #455a64;
    border-radius: .125rem;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.7em;
    transition: .2s;
}

.ckb_custom input[type=checkbox] + label:active:before {
    transform: scale(0);
}

.ckb_custom input[type=checkbox]:checked + label:before {
    color: #fff;
}

.ckb_custom input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #ccc;
}

.ckb_custom input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
}












.form-control:not(.border-1):not(.border-2):not(.border-3):focus {
    border-color: #00897b;
}
.card>.dataTables_wrapper .table-bordered>thead>tr>th:first-child:before{
    display: none;
}
.table-ins.dataTable thead th:first-child:after{
    display: none;
}


@media (min-width: 768px){
	.sidebar-xs .sidebar-main.sidebar-dark .nav-sidebar>.nav-item-submenu>.nav-group-sub{
		/*background: #E08E34;*/
		background: #465b65;
	    max-height: 450px;
	    overflow-y: auto;
		top: 0;
		border: none;
	}
	.sidebar-xs .sidebar-main .nav-sidebar>.nav-item-submenu>.nav-group-sub[data-submenu-title]:before {
	    content: attr(data-submenu-title);
	    display: block;
        background-color: #324148;
	    padding: .75rem 1.25rem;
	    padding-left: 10px;
	    opacity: 1;
	    margin-top: 0;
	    text-transform: uppercase;
	    height: 45px;
	}
}



































/*End - Trang Chủ*/
